{% extends 'growelsapp/app3.html' %}


{%block content%}{%load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>GROWELS FEEDS</a></div>
            </div>
            
        </nav>
   


     <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Blog</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                    </div>
                </div>
                
                <div class="row">
                     <div class="col-sm-12">
                        <div class="white-box">  
                           <form method="POST" class="post-form" action="" enctype="multipart/form-data">{% csrf_token %} 

                      <!--       <div class="form-group row">
                            <div class="col-xs-6">
                            <label class="col-sm-2 col-form-label">Category:</label>
                            <select class="form-control " name = "category" id="category_id">
                            {% for categoryname in categoryname %} 
                            <option value="{{categoryname.id}}">{{categoryname.id}}</option>
                            {% endfor %}
                            </select>
                            </div>
                            </div> -->

                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Category</label>
                            <label for="meta_title">    
                            <select class="form-control" name="category" id="category">
                            {% for categorynames in categorynames %} 
                            <option value="{{categorynames.id}}">{{categorynames.Name}}</option>
                            {% endfor %}
                            </select>
                            </label>
                            </div>


                            
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tags</label>
                            <label for="meta_title">    
                            <select  multiple class="form-control" name="tags" id="category_id">
                            {% for tagss in tagss %} 
                                <option value="{{tagss.id}}">{{tagss.Name}}</option>
                            {% endfor %}
                            </select>
                            </label>
                            </div>

                              



                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title</label>
                            <label for="meta_title">    
                            <input type="text" name="title" required="" class="form-control " id="title" ></input>
                            </label>
                            </div>

                            





                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <textarea class="summernote" required="" name="description" class="form-control " ></textarea> 
                            </div>
                             






                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image</label>
                            <label for="image_file">    
                            <input type="file" name="image_file" required="" class="form-control " id="image_file" ></input>
                            </label>
                            </div> 







                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image alt</label>
                            <label for="meta_title">    
                            <input type="text" name="image_alt" required="" class="form-control " id="Image_alt" ></input>
                            </label>
                            </div>







                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image title</label>
                            <label for="meta_title">    
                            <input type="text" name="image_title" required="" class="form-control " id="description" ></input>
                            </label>
                            </div>
                             







                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Meta Title</label>
                            <label for="meta_title">    
                            <input type="text" name="meta_title" required="" class="form-control " id="meta_title" ></input>
                            </label>
                            </div>








                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Meta Keyword</label>
                            <label for="meta_title">    
                            <input type="text" name="meta_keyword" required="" class="form-control " id="meta_keyword" ></input>
                            </label>
                            </div>

                            


                  

                            
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Meta Description</label>
                            <label for="meta_description"> 
                            <textarea class="form-control" name="meta_description" required="" cols="30" ></textarea> 
                            </label>
                            </div>
                            
                           
                            





                            <div class="form-group row">  
                            <label class="col-sm-1 col-form-label"></label>  
                            <div class="col-sm-4">  
                            <button type="submit" class="btn btn-primary" >Submit</a></button> 
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}


