{% extends 'growelsapp/app3.html' %}


{%block content %}{% load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'aysha/assets/images/logo.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span></a></div>
            </div>   
        </nav>  
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">CATEGORY</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Logout</a>      
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="passwordchange" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">change password</a>      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-0">Category </h3>
                            <div class="table-responsive">  
                                <form method="POST" class="post-form" action="/categoryupdate/{{employee.id}}">  {% csrf_token %}  
                                <div class="container">  
                                    <br>  
                                    <div class="form-group row">  
                                        <label class="col-sm-1 col-form-label"></label>  
                                        <div class="col-sm-4">  
                                              
                                        </div>  
                                    </div>  
                                  
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            <label class="col-sm-2 col-form-label">Name</label> 
                                            <input type="text" name="name" id="name" required="" class="form-control " value="{{employee.name}}"></input>
                                            <div class="col-sm-4">  
                                            </div> 
                                        </div>
                                            <br>
                                            {{form.errors.name}}
                                        <div class="form-group row">  
                                            <label class="col-sm-1 col-form-label"></label>  
                                            <div class="col-sm-4">  
                                            <button type="submit" class="btn btn-success" >Update</button>  
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                </form>
                            </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</body>  
{%endblock %}