
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>
	{%for c in c%}
    Click here! your password has been <a href="/reset-password/complete/{{c.tokens}}">Reset</a> now.
    {%endfor%}
  </p>

</body>
</html>

  