{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 

<div class="about-banner">
	<img class="banner-img" src="{%static 'images/about.jpg' %}" alt="">
	<div class="banner-cont">
		<h1>About Us</h1>
	</div>
</div>
<div class="bann-abt">
	<div class="row">
		<div class="col-md left-img-abt">
			<img src="{%static 'images/abt-img.png' %}" alt="">
		</div>
		<div class="col-md rt-abt-pag">
			<h3> OUR HISTORY</h3>
			<img class="mb-2 " src="{%static 'images/border.png' %}" alt="">
			<p>
				Growel Feeds is promoted by a field of experienced and leading entrepreneurs and also by the promoters of M/S Growel Formulations (P) Ltd, Hyderabad which has been an exceptional aquaculture healthcare products manufacturer since 1994. <br><br> Growel Formulations (P) Ltd was the first Indian company set-up to provide aquaculture healthcare formulations and has been proving its merit for more than 2 decades in India and overseas. Being promoted by such a pioneering company as Growel Formulations is the pillar of strength for Growel Feeds. <br><br> The first unit of Growel Feeds includes latest technology in the manufacturing process and has an installation capacity of 1, 20,000 tons per annum. This unit began its commercial production in April 2010 with automation of the entire processes from batching to bagging. <br><br> Growel Feeds opened its second unit recently with a capacity of 1, 80,000 tons of feed every year. This unit is well equipped to produce shrimp feeds and other aqua feeds of high value.</p>
		</div>
	</div>
</div>
<div class="visin">
	<div class="row">
		<div class="col-md">
			<div class="title text-center pt-2 pb-4">
				<img class="prn-btm" src="{%static 'images/prawn-bottom.png' %}" alt="">
				<h2>Our Milestone</h2>
				<img class="brdr" src="{%static 'images/border.png' %}" alt="">
			</div>
			<div class="cust-container">
				<p>Our milestones testify the success of the journey of our mission.</p>
				<ul>
					<li><i class="fa fa-fighter-jet"></i>Growel Feeds becomes one of the pioneers in introducing extruded floating fish feed after identifying its potential in 2008.</li>
					<li><i class="fa fa-fighter-jet"></i>A unit with a capacity of 60,000tons per annum becomes the first unit of Growel Feeds during the commercial production in early 2010.</li>
					<li><i class="fa fa-fighter-jet"></i>ISO certification adds to the glory of Growel Feeds on the 1st of April, 2011.</li>
					<li><i class="fa fa-fighter-jet"></i>The market base is fast growing and Growel Feeds expands its production capacity to 1, 20,000 tons in September 2011.</li>
					<li><i class="fa fa-fighter-jet"></i>Growel Feeds begins construction of its new feed mill for shrimp feeds and high value aqua feeds in 2012.</li>
					<li><i class="fa fa-fighter-jet"></i>The completion of unit 2 marks the beginning of commercial production of shrimp feeds and high value aqua feeds in December 2013.</li>
				</ul>
			</div>
		</div>
		<div class="col-md">
			<div class="title text-center pt-2 pb-4">
				<img class="prn-btm" src="{%static 'images/prawn-bottom.png' %}" alt="">
				<h2>Our Vision & Mision</h2>
				<img class="brdr" src="{%static 'images/border.png' %}" alt="">
			</div>
			<div class="cust-container">
				<p>
					We at 'Growel Feeds Pvt Ltd' are committed to sound business practices to ensure world-class product quality. We have been consistent in fetching top-notch results, for the aqua-farmers. The name 'Growel' was coined to help the aqua farming community to grow well. We do not compromise on quality and we ensure that products are delivered on time. We have witnessed that our continuous research and development has resulted in high quality products ever since we started.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="our-management mt-4">
	<div class="title1 text-center pt-2 pb-4">
		<h2>Our Management Team</h2>
		<img class="brdr" src="{%static 'images/border.png' %}" alt="">
	</div>
	<div class="container">
		<div class="row team-abt">
			<div class="col-md-3 col-lg-4 m-auto chairman">
				<div class="team-inner-wrap">
					<div class="team-img">
						<img src="{%static 'images/team1.jpg' %}" alt="Chairman">
						<div class="normal-text">
							<h3 class="team-name">
								<a>Dr. M.S. RANGA CHARY</a>
							</h3>
							<span class="team-title">Founder Chairman</span>
						</div>
					</div>


				</div>
			</div>
			<div class="col col-md-9 col-lg-8 m-auto">
				<p>The chairman of the company is holds a Doctorate in Pharmacy from Frankfurt University, Germany. His qualification continues to astonish us as he holds a Post Graduate in
				Pharmaceutical Sciences from Banaras Hindu University (BHU) with PG diplomas in Biochemistry and Microbiology. His 20 years of industrial experience in R & D,
				manufacturing and marketing areas in Multinational Pharma Companies in India and abroad makes him an indomitable spirit of inspiration to look at.
				His formulations manufacturing consultancy, started in 1978, has added many formulations to his credit. As one of the pioneers in the formulation of poultry
				and aqua health care products, he started the Growel foundations in 1992. With more than 50 years of post-qualification experience, he remains to be a 
				guiding factor for the group and actively takes part in the operations.</p>
			</div>
		</div>
		<!--<div class="row team-abt">-->

		<!--	<div class="col col-md-9 col-lg-8 m-auto d-none d-md-block">-->
		<!--		<p>Being a Science Graduate and a qualified Chartered Accountant, he has 26 years of post-qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial & Financial aspects of the Company.</p>-->
		<!--	</div>-->
		<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
		<!--		<div class="team-inner-wrap">-->
		<!--			<div class="team-img">-->
		<!--				<img src="images/team2.jpg" alt="Chairman">-->
		<!--				<div class="normal-text">-->
		<!--					<h3 class="team-name">-->
		<!--						<a>M.V.N. SESHA CHARY</a>-->
		<!--					</h3>-->
		<!--					<span class="team-title">Executive Director</span>-->
		<!--				</div>-->
		<!--			</div>-->


		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="col col-md-9 col-lg-8 m-auto d-block d-md-none">-->
		<!--		<p>Being a Science Graduate and a qualified Chartered Accountant, he has 26 years of post-qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial & Financial aspects of the Company.</p>-->
		<!--	</div>-->
		<!--</div>-->

		<!--<div class="row team-abt">-->
		<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
		<!--		<div class="team-inner-wrap">-->
		<!--			<div class="team-img">-->
		<!--				<img src="images/team3.jpg" alt="Chairman">-->
		<!--				<div class="normal-text">-->
		<!--					<h3 class="team-name">-->
		<!--						<a>P.S. NARENDRA</a>-->
		<!--					</h3>-->
		<!--					<span class="team-title">Executive Director</span>-->
		<!--				</div>-->
		<!--			</div>-->


		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="col col-md-9 col-lg-8 m-auto">-->
		<!--		<p>He is a Mechanical Engineer by qualification. He is closely associated with Growel Feeds. He takes care of the production and marketing activities of the company. He has an incredible experience of 20 years in the aqua industry and remains as a stronghold of Growel. It is factual that he is one of the pillars that Growel Feeds rests upon.</p>-->
		<!--	</div>-->
		<!--</div>-->

		<!--<div class="row team-abt">-->

		<!--	<div class="col col-md-9 col-lg-8 m-auto  d-none d-md-block">-->
		<!--		<p>An Aquaculture Nutritionist and the Technical Director for Growel Feeds, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company that pioneered in shrimp farming and feeds for marine shrimp among the market leaders in the shrimp feed business. Since 2001, after he returned to Asia, he has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in the country of Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>-->
		<!--	</div>-->
		<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
		<!--		<div class="team-inner-wrap">-->
		<!--			<div class="team-img">-->
		<!--				<img src="images/team4.jpg" alt="Chairman">-->
		<!--				<div class="normal-text">-->
		<!--					<h3 class="team-name">-->
		<!--						<a>Dr.A. VICTOR SURESH</a>-->
		<!--					</h3>-->
		<!--					<span class="team-title">Technical Director</span>-->
		<!--				</div>-->
		<!--			</div>-->


		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="col col-md-9 col-lg-8 m-auto d-block d-md-none">-->
		<!--		<p>An Aquaculture Nutritionist and the Technical Director for Growel Feeds, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company that pioneered in shrimp farming and feeds for marine shrimp among the market leaders in the shrimp feed business. Since 2001, after he returned to Asia, he has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in the country of Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>-->
		<!--	</div>-->
		<!--</div>-->

		<!--<div class="row team-abt">-->
		<!--	<div class="col-md-3 col-lg-4 m-auto">-->
		<!--		<div class="team-inner-wrap">-->
		<!--			<div class="team-img">-->
		<!--				<img src="images/team5.jpg" alt="Chairman">-->
		<!--				<div class="normal-text">-->
		<!--					<h3 class="team-name">-->
		<!--						<a>SANDIP AHIRRAO</a>-->
		<!--					</h3>-->
		<!--					<span class="team-title">Head Marketing</span>-->
		<!--				</div>-->
		<!--			</div>-->


		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="col col-md-9 col-lg-8 m-auto">-->
		<!--		<p>Mr. Sandip Ahirrao, is a seasoned aqua professional (B.F.Sc, M.Sc – Mariculture), with rich and varied experience of more than 28 years, out of which the initial 10 years were spent in the shrimp farming sector working for Unilever group and other reputed companies. Next 18 years he has been into sales & marketing of Aquavet products for various bluechip Indian companies as well as MNCs like Wockhardt (now, Biostadt India Ltd., Mumbai), Novozymes Biologicals Inc., USA, Lallemand Inc., Canada etc., He has had exposure to the Aquaculture sector in South East Asian countries including a 4 year stint in Indonesia. Mr. Sandip is known for his deep knowledge of aquaculture, long experience in sales & marketing and for his skills in building a vast professional network throughout the globe. He is a linguist of sort-proficient in 9 Indian languages. He happens to be the founder Secretary of the Society of Aquaculture Professionals (SAP) and is presently holding the post of Executive Committee Member.</p>-->
		<!--	</div>-->
		<!--</div>-->

	</div>
</div>



{% include 'growel-feeds/footer.html' %}
