{% include 'growel-feeds/header.html' %}

{% load static %} 

<div class="about-banner">
    {% include "growel-feeds/menu-bar.html" %}
    <img class="banner-img" src="{%static 'images/Feeds-Page-Header.jpg' %}" alt="">
<!--
    <div class="banner-cont">
        <h1>Product</h1>
    </div>
-->
</div>
<!--
<div class="product-body">
	<div class="container">
		<div class="vertical-tab">
			<div class="header">
				<h5>SHRIMP FEEDS</h5>
			</div>

			<div class="row">
				<div class="col-md-4">

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">VANNAMEI FEED</a></li>
						<li role="presentation"><a class="green" href="#" aria-controls="profile" role="tab" data-toggle="tab">Nutriva</a></li>
						<li role="presentation"><a href="#" aria-controls="messages" role="tab" data-toggle="tab">Marigold</a></li>
					</ul>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">VANNAMEI FEED</a></li>
						<li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Nutriva</a></li>
						<li role="presentation"><a href="#" aria-controls="messages" role="tab" data-toggle="tab">Marigold</a></li>
					</ul>
				</div>
				<div class="col-md-8">
					<div class="tab-content ">

						<div class="image">
							<img src="images/product1.png">
						</div>
						<div class="content">
							<p>This vannamei shrimp feed makes no compromises in quality just like our other products. The crude protein is at a minimum level of 36% for all varieties and 34% for feed no.5. Like our other products, Nutriva is also of crumble and pellet types. The feed frequency is 4 to 5 times a day, similar to other vannamei brands.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->



<div class="innovation product-bg">
    <div class="container">
        <div class="cus-container tab-cus mt-4">
            <div id="wrapper">
                <div id="tabs">
                    <div>
                        <div class="top-tab">
                            <ul class="nav nav-tabs" role="tablist">

                                <li class="nav-item"><a class="nav-link shrim-active {% if request.resolver_match.url_name == 'growel-feeds-feeds' %}active{% endif %}" data-toggle="tab" href="#tabs-1" title="">SHRIMP FEED</a></li>
                                <li class="nav-item"><a class="nav-link fish-active {% if request.resolver_match.url_name == 'feeds' %}active{% endif %}" data-toggle="tab" href="#tabs-2" title="">FISH FEED</a></li>
                              <!--   <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-4" title="">ORNAMENTAL FISH FEED</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
<div id="tabs-1" class="product-feed tab-pane {% if request.resolver_match.url_name == 'growel-feeds-feeds' %}active{% endif %}">
                       <div class="accordion shrim-accord" id="accordionExample">
  <div class="card shirm-card">
    <div class="card-header" id="heading-shrim1">
      <h2 class="mb-0">
        <div class="btn-link" type="text" data-toggle="collapse" data-target="#shrim-one" aria-expanded="true" aria-controls="shrim-one">
         <h5> Nutriva F15 </h5>
<p>Immunity Enhancing Extruded FUNCTIONAL Shrimp Feed</p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>

    <div id="shrim-one" class="collapse show" aria-labelledby="heading-shrim1" data-parent="#accordionExample">
      <div class="card-body">
      <div class="row inner-container">
                                <div class="col-md-4 d-block d-md-none m-auto">
                                    <div class="product-image">
                                        <img src="{%static 'images/nutriva-f15.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left m-auto">
                                    <div class="content">
                                        <h5>Nutriva F15</h5>
                                        <p>Nutriva F15 is Growel’s new generation extruded FUNCTIONAL feed that naturally
                                            enhances the immunity of Litopenaeus vannamei and Penaeus monodon to fight against harmful pathogens. It contains MrFeed® and other patented nature-derived components that:</p>
                                            <ul class="in-prod-ul pl-3">
                                                <li>Bind to pathogens and block the attachment of pathogens to the gastrointestinal tract of shrimp</li>
                                                <li>Improve intestinal integrity and reduce the negative effects of pathogens and</li>
                                                <li>toxins produced by the pathogens</li>
                                                <li>Stimulate immunity so that the shrimp are on a state of alert against invading pathogens</li>
                                                <li>Actively enter into the cells of the pathogens and kill them or disable them</li>
                                                <li>Provide nutrients that are necessary for the immune system to function well</li>
                                                <li>Improve feed attractability and palatability so the shrimp can eat the feeds fast and in sufficient quantity to get the benefits</li>
                                            </ul>
                                        <a class="down-broch" download href="{%static 'pdf/nutrivaf15.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="{%static 'images/nutriva-f15.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-shrim2">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#shrim-two" aria-expanded="false" aria-controls="shrim-two">
       <h5> Nutriva </h5>
<p> Scientifically formulated, complete and balanced nutrition for L.vannamei</p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="shrim-two" class="collapse" aria-labelledby="heading-shrim2" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/product-1shrimp-nutriva.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Nutriva</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Scientifically formulated, complete and balanced nutrition for <i>L.vannamei</i></li>
                                            <li>Assured rapid shrimp growth and optimum feed conversion ratio</li>
                                            <li>Superior quality with high water stability</li>
                                            <li>Manufactured with latest proven technology</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/nutrivaf.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-shrim3">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#shrim-three" aria-expanded="false" aria-controls="shrim-three">
         <h5> Marigold </h5>
<p> Scientifically formulated, complete and balanced nutrition for L.vannamei </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="shrim-three" class="collapse" aria-labelledby="heading-shrim3" data-parent="#accordionExample">
      <div class="card-body">
       <div class="row inner-container">
                                <div class="col-md-4 d-block d-md-none">
                                    <div class="product-image">
                                        <img src="{%static 'images/product-2shrimp-marigold.png' %}">
                                    </div>
                                </div>

                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Marigold</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Scientifically formulated, complete and balanced nutrition for <i>L.vannamei</i></li>
                                            <li>Assured rapid shrimp growth and optimum feed conversion ratio</li>
                                            <li>Superior quality with high water stability</li>
                                            <li>Manufactured with latest proven technology</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/marigold.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="{%static 'images/product-2shrimp-marigold.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-shrim4">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#shrim-four" aria-expanded="false" aria-controls="shrim-four">
         <h5> Tigeron </h5>
<p> Scientifically formulated, complete and balanced nutrition for P.monodon </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="shrim-four" class="collapse" aria-labelledby="heading-shrim4" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/tigeron.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Tigeron</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Scientifically formulated, complete and balanced nutrition for <i>P.monodon</i></li>
                                            <li>Assured rapid shrimp growth and optimum feed conversion ratio</li>
                                            <li>Superior quality with high water stability</li>
                                            <li>Manufactured with latest proven technology</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/tigeron.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>

  <div class="card shirm-card">
    <div class="card-header" id="heading-shrim5">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#shrim-five" aria-expanded="false" aria-controls="shrim-five">
         <h5> Sprint-LS </h5>
<p> Nutrition for L.vannamei  - Specially for semi-intensive culture at a wide range of salinities</p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="shrim-five" class="collapse" aria-labelledby="heading-shrim5" data-parent="#accordionExample">
      <div class="card-body">
         <div class="row inner-container">
                                <div class="col-md-4 d-block d-md-none">
                                    <div class="product-image">
                                        <img src="{%static 'images/sprint-ls.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Sprint LS</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Scientifically formulated, complete and balanced nutrition for <i>L.vannamei</i></li>
                                            <li>Especially for semi-intensive shrimp culture at a wide range of salinity</li>
                                            <li>Cost-effective feed produced with state of art technology</li>
                                            <li>Maximizes growth rate and survival</li>
                                            <li>Highly palatable, nutritious and digestible</li>
                                            <li>Lowers feed conversion rate</li>
                                            <li>Scientifically formulated with high quality ingredients</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/sprint-ls.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="{%static 'images/sprint-ls.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>

</div>     























                        
                            



                            <!--
							<div class="feeds-outer">
								<h1 class="feeds">Vannamei Feed</h1>
							</div>
-->
                           
                          
                           
                           
                        </div>
                        
                       
                        
                        
                        <div id="tabs-2" class="product-feed  tab-pane  {% if request.resolver_match.url_name == 'feeds' %}active{% endif %} ">

<div class="accordion shrim-accord" id="accordionExample1">
  <div class="card shirm-card">
    <div class="card-header" id="heading-feeds1">
      <h2 class="mb-0">
        <div class="btn-link" type="text" data-toggle="collapse" data-target="#fish-one" aria-expanded="true" aria-controls="fish-one">
         <h5> Growfin  </h5>
<p> Extruded floating feed for Freshwater fish </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>


    <div id="fish-one" class="collapse show" aria-labelledby="heading-feeds1" data-parent="#accordionExample1">
      <div class="card-body">
     <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/fish-growfin.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Growfin</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Extruded floating feed for Indian Major Carps, Alarias, Anabus and Pacu</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Good in palatability and digestibility</li>
                                            <li>Ensures higher fish growth with better feed conversion ratio</li>
                                            <li>Has optimum water stability and minimizes water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/growfin.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-feeds2">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#fish-two" aria-expanded="false" aria-controls="fish-two">
       <h5> Carpmax </h5>
<p> Extruded sinking feed for Indian Major Carps </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="fish-two" class="collapse" aria-labelledby="heading-feeds2" data-parent="#accordionExample1">
      <div class="card-body">
         <div class="row inner-container">
                                <div class="col-md-4  d-block d-md-none">
                                    <div class="product-image">
                                        <img src="{%static 'images/fish-growfin.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5> Carpmax </h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Extruded sinking feed for Indian Major Carps</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Good in palatability and digestibility</li>
                                            <li>Ensures higher fish growth with better feed conversion ratio</li>
                                            <li>Has optimum water stability and minimizes water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/carpmax.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="{%static 'images/fish-carpmax-polyculture.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-feeds3">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#fish-three" aria-expanded="false" aria-controls="fish-three">
         <h5> Nutrila </h5>
<p> High quality extruded feed for Marine fish </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="fish-three" class="collapse" aria-labelledby="heading-feeds3" data-parent="#accordionExample1">
      <div class="card-body">
        <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/fish-nutrila.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Nutrila</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>High quality extruded feed for Seabass, Cobia and Silver Pompano</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Good in palatability and digestibility</li>
                                            <li>Ensures higher fish growth with better feed conversion ratio</li>
                                            <li>Has optimum water stability and minimizes water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/nutrila.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>
  <div class="card shirm-card">
    <div class="card-header" id="heading-feeds4">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#fish-four" aria-expanded="false" aria-controls="fish-four">
         <h5> Nutrish </h5>
<p> Extruded floating feed for Tilapia </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="fish-four" class="collapse" aria-labelledby="heading-feeds4" data-parent="#accordionExample1">
      <div class="card-body">
        
                            <div class="row inner-container">
                                <div class="col-md-4 d-block d-md-none">
                                    <div class="product-image">
                                        <img src="{%static 'images/nutrish.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Nutrish</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Extruded floating feed for Tilapia</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Good in palatability and digestibility</li>
                                            <li>Ensures higher fish growth with better feed conversion ratio</li>
                                            <li>Has optimum water stability and minimizes water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/sprint-ls.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="{%static 'images/nutrish.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>

  <div class="card shirm-card">
    <div class="card-header" id="heading-feeds5">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#fish-five" aria-expanded="false" aria-controls="fish-five">
         <h5> Carpmax Polyculture </h5>
<p> Specifically designed feed for polyculture of fish and shrimp </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="fish-five" class="collapse" aria-labelledby="heading-feeds5" data-parent="#accordionExample1">
      <div class="card-body">
         <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/carpmax-polyculture.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Carpmax Polyculture</h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>
                                                Extruded Sinking feed for Indian Major Carps
                                            </li>
                                            <li>Scientifically Formulated,Complete and Balanced Nutrition.</li>
                                            <li>Manufactured with latest proven technology.</li>
                                            <li>Manufactured with latest proven technology.</li>
                                            <li>Good in palatability and digestibility.</li>
                                            <li>Ensure higher fish growth with better feed conversion ratio.</li>
                                            <li>With optimum water stability and less water pollution.</li>
                                            <li>Free from prohibited chemical and Antibiotics.</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/carpmax-polyculture.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>

<div class="card shirm-card">
    <div class="card-header" id="heading-feeds6">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#fish-six" aria-expanded="false" aria-controls="fish-six">
         <h5> Rainbow  </h5>
<p> Floating feed for ornamental fish species </p><span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="fish-six" class="collapse" aria-labelledby="heading-feeds6" data-parent="#accordionExample1">
      <div class="card-body">
         <div class="row inner-container">
                               
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5> Rainbow </h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Floating feed for ornamental fish species</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Ensures no leaching of colour</li>
                                            <li>Highly digestible ingredients</li>
                                            <li>Ensures bright colour of fishes</li>
                                            <li>Gives better growth with minimum water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/rainbow.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/rainbow.png' %}">
                                    </div>
                                </div>
                            </div>
      </div>
    </div>
  </div>




</div>     


              
                           
                        </div>
<!--
                        <div id="tabs-3" class="product-feed  tab-pane  fade">
                            <div class="row inner-container">
                                <div class="col-md-4 d-block d-md-none">
                                    <div class="product-image">
                                        <img src="images/carpmax-polyculture.png">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5>Carpmax Polyculture</h5>
                                        <ul>
                                            <li>
                                                Extruded Sinking feed for Indian Major Carps
                                            </li>
                                            <li>Scientifically Formulated,Complete and Balanced Nutrition.</li>
                                            <li>Manufactured with latest proven technology.</li>
                                            <li>Manufactured with latest proven technology.</li>
                                            <li>Good in palatability and digestibility.</li>
                                            <li>Ensure higher fish growth with better feed conversion ratio.</li>
                                            <li>With optimum water stability and less water pollution.</li>
                                            <li>Free from prohibited chemical and Antibiotics.</li>
                                        </ul>
                                        <a class="down-broch" download href="pdf/carpmax-polyculture.pdf">Dowload Brochure</a>
                                    </div>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="product-image">
                                        <img src="images/fish-arpma.png">
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                   <!--      <div id="tabs-4" class="product-feed  tab-pane  fade"> -->
                            <!--
							<div class="soon">
								<h3>Coming Soon...</h3>
							</div>
-->
                            <!-- <div class="row inner-container">
                                <div class="col-md-4">
                                    <div class="product-image">
                                        <img src="{%static 'images/rainbow.png' %}">
                                    </div>
                                </div>
                                <div class="col-md-8 content-left">
                                    <div class="content">
                                        <h5> Rainbow </h5>
                                        <ul class="in-prod-ul pl-3">
                                            <li>Floating feed for ornamental fish species</li>
                                            <li>Scientifically formulated, complete and balanced nutrition</li>
                                            <li>Manufactured with latest proven technology</li>
                                            <li>Ensures no leaching of colour</li>
                                            <li>Highly digestible ingredients</li>
                                            <li>Ensures bright colour of fishes</li>
                                            <li>Gives better growth with minimum water pollution</li>
                                        </ul>
                                        <a class="down-broch" download href="{%static 'pdf/rainbow.pdf' %}">Dowload Brochure</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'growel-feeds/footer.html' %}
