<div class="clearfix"></div>
<footer>{% load static %} 

    <div class="footer-inner">
        <div class="cust-container">
            <div class="social-icon">
                <p>Follow us</p>
                <a href="https://www.facebook.com/pages/Growel-Feeds-Pvt-Ltd/349714515079939"><img src="{%static 'images/fac.png' %}"></a>
                <a href="https://www.linkedin.com/company/growel-feeds-private-limited"><img src="{%static 'images/linkedin.png' %}"></a>
                <a href="https://twitter.com/Growel_Feeds"><img src="{%static 'images/twi.png' %}"></a>
            </div>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h4>CONTACT INFORMATION</h4>
                            <img src="{%static 'images/ftr-border.png' %}" alt="">
                            <div class="address"><p>GROWEL FEEDS PVT. LTD.<br>R.S. No. 57, Chevuru Village,<br>Sriharipuram Panchayat,<br>Mudinepalli Mandal,<br>Krishna District – 521329,<br>Andhra Pradesh, India.</p>
                            </div>
                            <div class="Phone">
                                <p><a href="tel:+918677283435">+91 - 86772 83435</a><a href="tel:+918677283761"> / 761</a><a href="tel:+918677283781"> / 781</a><a href="tel:+918677283791"> / 791</a></p>
                              
                               <!--  <p><a href="tel:+919989463322"> +91 9989463322</a></p> -->
                                
                            </div>
                             <div class="mobile">
                                  <p><a href="tel:+919912193322">+91 - 99121 93322</a></p>
                              </div>
                            <div class="mail-us">
                                <p><a href="mailto:gssrisarath@gmail.com">customercare@growelfeeds.com</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                           <div class="row">
                               <div class="col-sm">
                                <div class="footer-information">
                                    <h4>QUICK LINKS</h4>
                                    <img src="{%static 'images/ftr-border.png' %}" alt="">
                                    <p><a href="index">Home</a></p>
                                    <p><a href="growel-story">Growel Story</a></p>
                                    <p><a href="technology">Technology</a></p>
                                    <p><a href="quality">Quality</a></p>
                                    <p><a href="r&d">R & D</a></p>
                                    <p><a href="media">Media</a></p>
                                    <p><a href="contact">Contact Us</a></p>
                                </div>
                                </div>
                                <div class="col-sm">
                                <div class="footer-information">
                                    <h4>FEEDS</h4>
                                    <img src="{%static 'images/ftr-border.png' %}" alt="">
                                    <p><a href="feeds">Shrimp Feed</a></p>
                                    <p><a href="feeds">Fish Feed</a></p>
                                    <p><a href="feeds">Ornamental Fish Feed</a></p>
                                </div>
                                </div>
                           </div>
                    </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="follow-us">
                                <h4>LOCATION</h4>
                                <img src="{%static 'images/ftr-border.png' %}" alt="">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7654.067757273176!2d81.1553869533265!3d16.423105702433972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a361f6e6a8eda67%3A0xce0cc48290d6e496!2sGrowel+Feeds+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1551271153861" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <div class="know-us">
                                <h4>CERTIFICATIONS</h4>
                                <img src="{%static 'images/ftr-border.png' %}" alt="">

                                <div class="ftr-certificate">
                                    <img src="{%static 'images/haccp-certificate.png' %}">
                                    <img src="{%static 'images/seafood-certificate.png' %}">
                                    <img src="{%static 'images/india-certificate.png' %}">
                                </div>
                                <!--
                                    <div class="row">
                                        <div class="input-group">
                                            <input name="email" id="email" class="form-control" type="text" placeholder="Email Address"> <span class="input-group-btn">
                                            <button class="form-btn" type="submit" title="Send" value="Send"><i class="fa fa-envelope-open"></i></button>
                                        </span>
                                        </div>
                                    </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-down">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center p-2">
                            <p class="m-0">2019 @ Growel Feeds . All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--
<div class="tl-frt">
    <div class="cust-container">
        <div class="row">
            <div class="col-12 col-md pr-0">
                <div class="row">
                    <div class="col-md ftr-box text-center">
                        <img class="ftr-logo" src="images/logo.png" alt="">
                        <p>Growel Feeds is promoted by a field of experienced and leading entrepreneurs and also by the promoters...</p>
                        <ul class="social-ftr">
                            <li class="social-facebook"><a href="https://www.facebook.com/pages/Growel-Feeds-Pvt-Ltd/349714515079939"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-linkedin"><a href="https://www.linkedin.com/company/growel-feeds-private-limited"><i class="fa fa-linkedin"></i></a></li>
                            <li class="social-twitter"><a href="https://twitter.com/Growel_Feeds"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md ftr-box">
                        <h4>Shrimp Feeds</h4>
                        <img src="images/ftr-border.png" alt="">
                        <ul class="link-ftr">
                            <li><a href="product.php"><img src="images/whit.png" alt="">Nutriva</a></li>
                            <li><a href="product.php"><img src="images/whit.png" alt="">Marigold</a></li>
                            <li><a href="product.php"><img src="images/whit.png" alt="">Tigeron</a></li>
                        </ul>
                    </div>
                    <div class="col-md ftr-box">
                        <h4>Fish Feeds</h4>
                        <img src="images/ftr-border.png" alt="">
                        <ul class="link-ftr">
                            <li><a href="product.php"><img src="images/whit.png" alt="">Growfin</a></li>
                            <li><a href="product.php"><img src="images/whit.png" alt="">Growmax</a></li>
                            <li><a href="product.php"><img src="images/whit.png" alt="">Nutrila</a></li>
                            <li><a href="product.php"><img src="images/whit.png" alt="">Carpmax</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-md">
                <div class="row">
                    <div class="col-md ftr-box">
                        <h4>Contact Info</h4>
                        <img src="images/ftr-border.png" alt="">
                        <ul class="cont-info">
                            <p class="ftr-add mb-0"><i class="fa fa-phone ftr-ph"></i><a href="tel:+919989453322">+91 - 9989453322</a>,<a href="tel:+919989463322">+91 9989463322</a></p><br>
                            <p class="ftr-add1"><a href="tel:+918148310040">+91 - 8677283435,</a><a href="tel:=+918677283435">+91 - 86772 83761</a></p>
                            <p class="ftr-add mb-0"><i class="fa fa-envelope ftr-env"></i><a href="mailto:gssrisarath@gmail.com">customercare@growelfeeds.com</a></p>
                        </ul>
                    </div>
                    <div class="col-md ftr-box">
                        <p class="ftr-add mt-4"><i class="fa fa-map-marker ftr-map"></i>No 296, Ashtalaxmi nagar,<br>10th street, valasaravakkam,<br>Chennai - 6000 116.</p>
                        <div class="row">
                            <div class="input-group">
                                <input name="email" id="email" class="form-control" type="text" placeholder="Email Address"> <span class="input-group-btn">
            <button class="form-btn" type="submit" title="Send" value="Send"><i class="fa fa-envelope-open"></i></button>
        </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ftr-ftr text-center">
        <div class="row">
            <div class="container">
                <div class="col-12 menu-ftr">
                    <ul>
                        <li><a href="index.php">Home</a></li>
                        <li><a href="about-us.php">About Us</a></li>
                        <li><a href="product.php">Products</a></li>
                        <li><a href="technology.php">Technology</a></li>
                        <li><a href="quality.php">Quality</a></li>
                        <li><a href="r&d.php">R & D</a></li>
                        <li><a href="media.php">Media</a></li>
                        <li><a href="contact.php">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-12 com-ftr">© 2019 All rights reserved Growel Feeds.
                </div>
            </div>
        </div>
    </div>
</div>
-->
<a id="btm-scl" class="btm-move" title="Back to top" href="#">&#10148;</a>
<a id="back2Top" class="top-move" title="Back to top" href="#">&#10148;</a>
</body>
<script src="{%static 'js/TweenLite.min.js' %}"></script>
<script src="{%static 'js/jquery.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/animate.js' %}"></script>
<script src="{%static 'js/wow.min.js' %}"></script>
<script src="{%static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{%static 'js/parallax.js' %}"></script>
<script src="{%static 'js/jquery.easeScroll.js' %}"></script>
<script src="{%static 'js/lightbox.js' %}"></script>
<script src="{%static 'js/jR3DCarousel.min.js' %}"></script>
<!--<script src="js/CSSPlugin.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="{%static 'js/clip_carousel.js' %}"></script>
<script src="{%static 'js/swipe.js' %}"></script>
<script src="{%static 'js/map.js' %}"></script>

<script src="{%static 'js/mixitup.js' %}"></script>

<script>
    $(document).ready(function() {
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass("show");
            });
            return false;
        });
    });
    $('.owl-theme1').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
        },
    });
    $('.owl-abt-port').owlCarousel({
        loop: true,
        margin: 10,
        dots: true,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
        },
    });

</script>
<script>
    $(document).ready(function() {
        $("html").easeScroll({
            frameRate: 60,
            animationTime: 1500,
            stepSize: 100,
            pulseAlgorithm: 1,
            pulseScale: 8,
            pulseNormalize: 1,
            accelerationDelta: 20,
            accelerationMax: 1,
            keyboardSupport: true,
            arrowScroll: 50,
            touchpadSupport: true,
            fixedBackground: true
        });
});   


$(".carousel").swipe({

  swipe: function(event, direction, distance, duration, fingerCount, fingerData) {

    if (direction == 'left') $(this).carousel('next');
    if (direction == 'right') $(this).carousel('prev');

  },
  allowPageScroll:"vertical"

});
      

</script>

<script>
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#back2Top').fadeIn();
        } else {
            $('#back2Top').fadeOut();
        }
    });
    $(document).ready(function() {
        $("#back2Top").click(function(event) {
            event.preventDefault();
            $("html, body").animate({
                scrollTop: 0
            }, 300);
            return false;
        });

    });
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#btm-scl').fadeOut();
        } else {
            $('#btm-scl').fadeIn();
        }
    });
    $(document).ready(function() {
        $("#btm-scl").click(function(event) {
            event.preventDefault();
            $("html, body").animate({
                scrollTop: 628
            }, 300);
            return false;
        });

    });

</script>



<script type="text/javascript">
    $(document).ready(function() {
        var slideImages = [{
                src: "{%static 'images/tech1.jpg' %}"
            },
            {
                src: "{%static 'images/tech2.jpg' %}"
            },
            {
                src: "{%static 'images/tech3.jpg' %}"
            },
            {
                src: "{%static 'images/tech4.jpg' %}"
            },
            {
                src: "{%static 'images/tech5.jpg' %}"
            },
            {
                src: "{%static 'images/tech6.jpg' %}"
            },
            {
                src: "{%static 'images/tech7.jpg' %}"
            },
            //            {
            //                src: 'images/tech8.jpg'
            //            },
            {
                src: "{%static 'images/tech9.jpg' %}"
            },
            {
                src: "{%static 'images/tech10.jpg' %}"
            },
            {
                src: "{%static 'images/tech11.jpg' %}"
            },
            {
                src: "{%static 'images/tech12.jpg' %}"
            {
                src: "{%static 'images/tech13.jpg' %}"
            }
        ]
        //var jR3DCarousel;

        jR3DCarousel = $('.jR3DCarouselGallery').jR3DCarousel({
            width: 600,
            /* largest allowed width */
            height: 333,
            /* largest allowed height */
            slides: slideImages /* array of images source */
        });

        var carouselCustomeTemplateProps = {
            width: 360,
            /* largest allowed width */
            height: 454,
            /* largest allowed height */
            slideLayout: 'fill',
            /* "contain" (fit according to aspect ratio), "fill" (stretches object to fill) and "cover" (overflows box but maintains ratio) */
            animation: 'slide3D',
            /* slide | scroll | fade | zoomInSlide | zoomInScroll */
            animationCurve: 'ease',
            animationDuration: 1900,
            animationInterval: 2000,
            slideClass: 'jR3DCarouselCustomSlide',
            autoplay: false,
            controls: true,
            /* control buttons */
            navigation: '' /* circles | squares | '' */ ,
            perspective: 2200,
            rotationDirection: 'ltr',
            onSlideShow: slideShownCallback

        }

        function slideShownCallback($slide) {
            console.log("Slide shown: ", $slide.find('img').attr('src'))
        }

        jR3DCarouselCustomeTemplate = $('.jR3DCarouselGalleryCustomeTemplate').jR3DCarousel(carouselCustomeTemplateProps);

    })

</script>

</html>



<script type="text/javascript">
    $(document).ready(function() {
        var slideImages = [{
                src: '{%static "images/tech1.jpg" %}'
                
            },
            {
                src: '{%static "images/tech2.jpg" %}'
            },
            {
                src: '{%static "images/tech3.jpg" %}'
            },
            {
               src: '{%static "images/tech4.jpg" %}'
            },
            {
                src: '{%static "images/tech5.jpg" %}'
            },
            {
                src: '{%static "images/tech6.jpg" %}'
            },
            // {
            //     src: '{%static "images/tech7.jpg" %}'
            // },
            //            {
            //                src: 'images/tech8.jpg'
            //            },
            {
                src: '{%static "images/tech8.jpg" %}'
            },
            {
                src: '{%static "images/tech9.jpg" %}'
            },
            {
                src: '{%static "images/tech10.jpg" %}'
            },
            {
                src: '{%static "images/tech11.jpg" %}'
            },
            {
                src: '{%static "images/tech12.jpg" %}'
            }
        ]
        //var jR3DCarousel;

        jR3DCarousel = $('.jR3DCarouselGallery').jR3DCarousel({
            width: 600,
            /* largest allowed width */
            height: 333,
            /* largest allowed height */
            slides: slideImages /* array of images source */
        });

        var carouselCustomeTemplateProps = {
            width: 360,
            /* largest allowed width */
            height: 454,
            /* largest allowed height */
            slideLayout: 'fill',
            /* "contain" (fit according to aspect ratio), "fill" (stretches object to fill) and "cover" (overflows box but maintains ratio) */
            animation: 'slide3D',
            /* slide | scroll | fade | zoomInSlide | zoomInScroll */
            animationCurve: 'ease',
            animationDuration: 1900,
            animationInterval: 2000,
            slideClass: 'jR3DCarouselCustomSlide',
            autoplay: false,
            controls: true,
            /* control buttons */
            navigation: '' /* circles | squares | '' */ ,
            perspective: 2200,
            rotationDirection: 'ltr',
            onSlideShow: slideShownCallback

        }

        function slideShownCallback($slide) {
            console.log("Slide shown: ", $slide.find('img').attr('src'))
        }

        jR3DCarouselCustomeTemplate = $('.jR3DCarouselGalleryCustomeTemplate').jR3DCarousel(carouselCustomeTemplateProps);

    })

</script>
 <script type="text/javascript">

   var containerEl = document.querySelector('[data-ref~="mixitup-container"]');

        var mixer = mixitup(containerEl, {
            selectors: {
                target: '[data-ref~="mixitup-target"]'
            }
        });
    
</script> 
<script>

    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
            $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
            $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
            $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>



</html>