{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
<div class="about-banner">
    <img class="banner-img" src="{%static 'images/about.jpg' %}" alt="">
    <!--
    <div class="banner-cont">
        <h1>Growel Story</h1>
    </div>
-->
</div>
{% csrf_token %}  




<div class="gallery-bg-top">
    <h2> Gallery </h2>  
   
    <div class="cust-cont">
        <div class="controls btn-cust">
            <button type="button" class="control mixitup-control-active" data-filter="all">All </button>
            {% for categoryname in categorynames %}
                <button type="button" id="{{categoryname.id}}" name="category_id" class="control" data-filter=".cat{{categoryname.id}}"  >{{categoryname.name}}</button>
            {% endfor %}
            <!--
           <button type="button" class="control" data-filter="none">None</button>


            <button type="button" class="control" data-sort="default:asc">Asc</button>
            <button type="button" class="control" data-sort="default:desc">Desc</button>
-->

        </div>


        <div class="gallery-round" data-ref="mixitup-container">
            {% for accountimage in accountimages %}
            <div class="item cat{{accountimage.category_id}} all" data-ref="mixitup-target">
                <div class="gallery-list gall-mthd" data-aos="zoom-in" data-aos-duration="1050" data-aos-easing="ease-in-sine">
                    <img src="{{ MEDIA_URL }}{{ accountimage.image_file }}" alt="" class="w-100 img-fluid">
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content"> 
<!--                                <h3> View </h3>-->
                                <a href="{{ MEDIA_URL }}{{ accountimage.image_file }}" data-lightbox="image-1" class="lightbox-image image-link" title=""><span class="icon fa fa-search"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
               {% endfor %}
           
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
        </div>

    </div>
</div>



{% include 'growel-feeds/footer.html' %}
