{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
<div class="about-banner">
    <img class="banner-img" src="{%static 'images/about.jpg' %}" alt="">
    <!--
    <div class="banner-cont">
        <h1>Growel Story</h1>
    </div>
-->
</div>
<div class="growel-story-bg">
    <div class="bann-abt">
        <div class="cust-container">
            <div class="row">
                <div class="col-lg left-img-abt">
                    <img src="{%static 'images/abt2.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-lg rt-abt-pag">
                    <h3> Growel Story</h3>
                    <img class="mb-2 " src="{%static 'images/border.png' %}" alt="">
                    <p>
                        Aquaculture supplies half of the seafood and fishery products consumed worldwide today and is gaining global significance as a source of healthy food and income. With the growing world population, the future demand for seafood can only be met by expanded and sustainable aquaculture production. Aquaculture practices are going to become more intensive and will depend increasingly on nutritious and effective feeds comprising superior quality ingredients. To meet this challenge, Growel Feeds Pvt. Ltd. provides a wide variety of scientifically formulated and completely balanced nutritional solutions for economically important aquatic species.</p>
                    <p>With a history spanning over 25 years, The Growel Group initially started with Growel Formulations in 1994, and later expanded to Growel Feeds, Growel Labs and Growel Processors. Growel Hatcheries is in the pipeline to supply high-health seed to aqua farming community. With the vision and mission of well-being of the people working in various verticals of aquaculture, the group named itself as ‘Growel’. It is led by a team of professionals with more than 35 years of experience in the field of aquaculture.</p>
                </div>
                <div class="abt-p-img-btm mt-3">
                    <p>Growel’s feed plant was established in 2010 and currently has the capacity to produce 1,28,000 MT of fish feed and 1,88,000 MT of shrimp feed. It produces a wide range of aqua feeds for freshwater and marine fish, vannamei and tiger shrimp. All its facilities are HACCP and BAP certified and it adheres to strict quality measures at every stage of the feed manufacturing process. The feeds are precisely formulated depending on the nutritional requirements of the cultured species. Currently, Growel Feeds has more than 200 Business Associates all over India and it also exports feed to 12 different countries. The number of countries coming forward to import Growel feeds is increasing rapidly. Growel has an in-house R&amp;D innovation centre where it continuously tests its feed and develops new products to meet the customer needs.</p>
                    <p>Growel’s commitment to quality, innovation and service has been attributed as the main reason for its success. With its talented workforce backed up by reputed scientists, Growel continuously strives for excellence in aqua feed production.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="float-chat-abt">
        <img src="{%static 'images/flow-chat1.png' %}" alt="">
    </div>
    <div class="container">
        <div class="technology">
            <div class="tech-inner">
                <h5>Growel’s Timeline of Success and Expansion</h5>
            </div>
            <div class="tech-bottom">
                <div class="row">
                    <div class="col-md-12">
                    <ul>
                    <li>1994 - Growel journey begins as an exceptional aquaculture healthcare products manufacturer.</li>
                    <li>2008 - Growel Feeds becomes one of the pioneers in introducing extruded floating fish feed. Begins construction of Unit I.</li>
                    <li>2010 - Growel Feeds inaugurates Unit I with annual production capacity of 60,000 MT.</li>
<!--                    <li>After ensuring high quality, the feeds are packed into bags in perfect measures and safely transported to customers.</li>-->
                    <li>2011 - ISO certification adds to the glory of Growel Feeds. The market base grows rapidly and Unit I expands its annual feed production capacity to 1,20,000 MT.</li>
                    <li>2012 - Growel Feeds begins construction of Unit II for producing shrimp feed and other aqua feed of high value.</li>
                    <li>2014 - Growel Feeds inaugurates Unit II with annual production capacity of 1,80,000 MT and starts manufacturing shrimp feed. Inaugurates Aqua Labs at six places in India.</li>
                    <li>2015 - Growel inaugurates its processing plant with state of the art technology..</li>
                    <li>2018 - Growel Feeds increases its production capacity to 2,00,000 MT shrimp feed and 2,00,000 MT fish feed.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
   <!--  <div class="row team-abt">
        <div class="container mt-4">

            <div class="col-lg rt-abt-pag">
                <h2>MANAGEMENT TEAM</h2>
                <img class="mb-2 " src="{%static 'images/border.png' %}" alt="">
            </div>
            <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team1.png' %}" alt="Chairman">
                                <!--
                                <div class="normal-text">
                                    <h3 class="team-name">
                                        <a>Dr. M.S. RANGA CHARY</a>
                                    </h3>
                                    <span class="team-title">Founder Chairman</span>
                                </div>
--> <!--
                            </div>


                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>Late Dr. M.S. RANGA CHARY (FOUNDER CHAIRMAN)</b></h3>
                        <p>The chairman of the company is holds a Doctorate in Pharmacy from Frankfurt University, Germany. His qualification continues to astonish us as he holds a Post Graduate in Pharmaceutical Sciences from Banaras Hindu University (BHU) with PG diplomas in Biochemistry and Microbiology. His 20 years of industrial experience in R & D, manufacturing and marketing areas in Multinational Pharma Companies in India and abroad makes him an indomitable spirit of inspiration to look at. His formulations manufacturing consultancy, started in 1978, has added many formulations to his credit. As one of the pioneers in the formulation of poultry and aqua health care products, he started the Growel foundations in 1992. With more than 50 years of post-qualification experience, he remains to be a guiding factor for the group and actively takes part in the operations.</p>
                    </div>
                </div>
            </div>
            <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>M.V.N. SESHA CHARY (EXECUTIVE DIRECTOR)</b></h3>
                        <p>A Science Graduate and a qualified Chartered Accountant, he has 26 years of post- qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial &amp; Financial aspects of the Company.</p>
                    </div>
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>P.S. NARENDRA (EXECUTIVE DIRECTOR)</b></h3>
                        <p>He is a Mechanical Engineer by qualification. He is closely associated with Growel Feeds. He takes care of the production and marketing activities of the company. He has an incredible experience of 25 years in the aqua industry. It is factual that he is one of the pillars that Growel Feeds rests upon.</p>
                    </div>
                </div>
            </div>
            <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>Dr. A. VICTOR SURESH (TECHNICAL DIRECTOR)</b></h3>
                        <p>An Aquaculture Nutritionist, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company and a market leader in shrimp feed business, that pioneered in shrimp farming and shrimp feeds. In 2001 he returned to Asian region and since then has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&amp;D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>
                    </div>
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team4.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-manage-ment">
                <h3><b>Ch. SUDHEER (DIRECTOR)</b></h3>
                <p>He graduated in Commerce and is one of the pioneering investors in the aqua culture industry. He also has business interests in automobile distribution and real estate. He is one of the entrepreneurs who have stood behind Growel Feeds and helped it grow.</p>
            </div>
            <div class="list-manage-ment">
                <h3><b>R. SATISH (DIRECTOR)</b></h3>
                <p>He is an Engineering Graduate by qualification. He is a successful entrepreneur who runs a large automobile distribution chain. Satish has investments in the aqua farming industry. This vibrant business man is one of the behind Growel’s exemplary growth. He is a man Growel Feeds is proud to be associated with.</p>
            </div>
            <div class="list-manage-ment">
                <h3><b>P. SRINIVAS (DIRECTOR)</b></h3>
                <p>He holds a Post Graduate Degree in Business Administration (MBA). He runs a large aqua feed distribution company. He has involved himself in large fish farming business owned by his family. Growel is proud to have a dynamic directors like him, who have dedicated their ardent efforts for bringing a revolution in aqua feed production.</p>
            </div>
            <div class="list-manage-ment">
                <h3><b>P. JANARDHAN (DIRECTOR)</b></h3>
                <p>He is a Post Graduate in Commerce (M.Phil) and a qualified Chartered Accountant. He is also a Certified Information Systems Auditor (ISACA, USA) and Information Systems Security Certification Lead Auditor (ISO 27001 LA). He has been in practice since 1987 and is a member of many professional and academic bodies. He is also a consultant to many organizations for systems &amp; information audits. His clients include many leading aqua farmers and suppliers to aqua culture industry.</p>
            </div>
            <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team5.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>SANDIP AHIRRAO (VICE PRESIDENT – SALES &amp; MARKETING)</b></h3>
                        <p>Mr. Sandip Ahirrao, is a seasoned aqua professional (B.F.Sc, M.Sc – Mariculture), with rich and varied experience of more than 28 years, out of which the initial 10 years were spent in the shrimp farming sector working for Unilever group and other reputed companies. Next 18 years he has been into sales &amp; marketing of Aquavet products for various bluechip Indian companies as well as MNCs like Wockhardt (now, Biostadt India Ltd., Mumbai), Novozymes Biologicals Inc., USA, Lallemand Inc., Canada etc., He has had exposure to the Aquaculture sector in South East Asian countries including a 4 year stint in Indonesia.</p>
                        <p>Mr. Sandip is known for his deep knowledge of aquaculture, long experience in sales &amp; marketing and for his skills in building a vast professional network throughout the globe. He is a linguist of sort-proficient in 9 Indian languages. He happens to be the founder Secretary of the Society of Aquaculture Professionals (SAP) and is presently holding the post of Executive Committee Member.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="list-manage-ment col-sm text-center">
                    <img src="{%static 'images/team6.png' %}" alt="">
                    <h3 class="mt-1"><b>P. V. Hariharan (VICE PRESIDENT – QUALITY ASSURANCE)</b></h3>
                </div>
                <div class="list-manage-ment col-sm text-center">
                    <img src="{%static 'images/team7.png' %}" alt="">
                    <h3 class="mt-1"><b>G.V.V. Satyanarayana (VICE PRESIDENT – OPERATIONS)</b></h3>
                </div>
            </div>
        </div>
    </div> -->

<!--
<div class="visin">
    <div class="row">
        <div class="col-md">
            <div class="title text-center pt-2 pb-4">
                <img class="prn-btm" src="images/prawn-bottom.png" alt="">
                <h2>Our Milestone</h2>
                <img class="brdr" src="images/border.png" alt="">
            </div>
            <div class="cust-container">
                <p>Our milestones testify the success of the journey of our mission.</p>
                <ul>
                    <li><i class="fa fa-fighter-jet"></i>Growel Feeds becomes one of the pioneers in introducing extruded floating fish feed after identifying its potential in 2008.</li>
                    <li><i class="fa fa-fighter-jet"></i>A unit with a capacity of 60,000tons per annum becomes the first unit of Growel Feeds during the commercial production in early 2010.</li>
                    <li><i class="fa fa-fighter-jet"></i>ISO certification adds to the glory of Growel Feeds on the 1st of April, 2011.</li>
                    <li><i class="fa fa-fighter-jet"></i>The market base is fast growing and Growel Feeds expands its production capacity to 1, 20,000 tons in September 2011.</li>
                    <li><i class="fa fa-fighter-jet"></i>Growel Feeds begins construction of its new feed mill for shrimp feeds and high value aqua feeds in 2012.</li>
                    <li><i class="fa fa-fighter-jet"></i>The completion of unit 2 marks the beginning of commercial production of shrimp feeds and high value aqua feeds in December 2013.</li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="title text-center pt-2 pb-4">
                <img class="prn-btm" src="images/prawn-bottom.png" alt="">
                <h2>Our Vision & Mision</h2>
                <img class="brdr" src="images/border.png" alt="">
            </div>
            <div class="cust-container">
                <p>
                    We at 'Growel Feeds Pvt Ltd' are committed to sound business practices to ensure world-class product quality. We have been consistent in fetching top-notch results, for the aqua-farmers. The name 'Growel' was coined to help the aqua farming community to grow well. We do not compromise on quality and we ensure that products are delivered on time. We have witnessed that our continuous research and development has resulted in high quality products ever since we started.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="our-management mt-4">
    <div class="title1 text-center pt-2 pb-4">
        <h2>Our Management Team</h2>
        <img class="brdr" src="images/border.png" alt="">
    </div>
    <div class="container">
        <div class="row team-abt">
            <div class="col-md-3 col-lg-4 m-auto chairman">
                <div class="team-inner-wrap">
                    <div class="team-img">
                        <img src="images/team1.jpg" alt="Chairman">
                        <div class="normal-text">
                            <h3 class="team-name">
                                <a>Dr. M.S. RANGA CHARY</a>
                            </h3>
                            <span class="team-title">Founder Chairman</span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col col-md-9 col-lg-8 m-auto">
                <p>The chairman of the company is holds a Doctorate in Pharmacy from Frankfurt University, Germany. His qualification continues to astonish us as he holds a Post Graduate in
                    Pharmaceutical Sciences from Banaras Hindu University (BHU) with PG diplomas in Biochemistry and Microbiology. His 20 years of industrial experience in R & D,
                    manufacturing and marketing areas in Multinational Pharma Companies in India and abroad makes him an indomitable spirit of inspiration to look at.
                    His formulations manufacturing consultancy, started in 1978, has added many formulations to his credit. As one of the pioneers in the formulation of poultry
                    and aqua health care products, he started the Growel foundations in 1992. With more than 50 years of post-qualification experience, he remains to be a
                    guiding factor for the group and actively takes part in the operations.</p>
            </div>
        </div>
-->
<!--<div class="row team-abt">-->

<!--	<div class="col col-md-9 col-lg-8 m-auto d-none d-md-block">-->
<!--		<p>Being a Science Graduate and a qualified Chartered Accountant, he has 26 years of post-qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial & Financial aspects of the Company.</p>-->
<!--	</div>-->
<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
<!--		<div class="team-inner-wrap">-->
<!--			<div class="team-img">-->
<!--				<img src="images/team2.jpg" alt="Chairman">-->
<!--				<div class="normal-text">-->
<!--					<h3 class="team-name">-->
<!--						<a>M.V.N. SESHA CHARY</a>-->
<!--					</h3>-->
<!--					<span class="team-title">Executive Director</span>-->
<!--				</div>-->
<!--			</div>-->


<!--		</div>-->
<!--	</div>-->
<!--	<div class="col col-md-9 col-lg-8 m-auto d-block d-md-none">-->
<!--		<p>Being a Science Graduate and a qualified Chartered Accountant, he has 26 years of post-qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial & Financial aspects of the Company.</p>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="row team-abt">-->
<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
<!--		<div class="team-inner-wrap">-->
<!--			<div class="team-img">-->
<!--				<img src="images/team3.jpg" alt="Chairman">-->
<!--				<div class="normal-text">-->
<!--					<h3 class="team-name">-->
<!--						<a>P.S. NARENDRA</a>-->
<!--					</h3>-->
<!--					<span class="team-title">Executive Director</span>-->
<!--				</div>-->
<!--			</div>-->


<!--		</div>-->
<!--	</div>-->
<!--	<div class="col col-md-9 col-lg-8 m-auto">-->
<!--		<p>He is a Mechanical Engineer by qualification. He is closely associated with Growel Feeds. He takes care of the production and marketing activities of the company. He has an incredible experience of 20 years in the aqua industry and remains as a stronghold of Growel. It is factual that he is one of the pillars that Growel Feeds rests upon.</p>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="row team-abt">-->

<!--	<div class="col col-md-9 col-lg-8 m-auto  d-none d-md-block">-->
<!--		<p>An Aquaculture Nutritionist and the Technical Director for Growel Feeds, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company that pioneered in shrimp farming and feeds for marine shrimp among the market leaders in the shrimp feed business. Since 2001, after he returned to Asia, he has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in the country of Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>-->
<!--	</div>-->
<!--	<div class="col-md-3 col-lg-4 m-auto chairman">-->
<!--		<div class="team-inner-wrap">-->
<!--			<div class="team-img">-->
<!--				<img src="images/team4.jpg" alt="Chairman">-->
<!--				<div class="normal-text">-->
<!--					<h3 class="team-name">-->
<!--						<a>Dr.A. VICTOR SURESH</a>-->
<!--					</h3>-->
<!--					<span class="team-title">Technical Director</span>-->
<!--				</div>-->
<!--			</div>-->


<!--		</div>-->
<!--	</div>-->
<!--	<div class="col col-md-9 col-lg-8 m-auto d-block d-md-none">-->
<!--		<p>An Aquaculture Nutritionist and the Technical Director for Growel Feeds, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company that pioneered in shrimp farming and feeds for marine shrimp among the market leaders in the shrimp feed business. Since 2001, after he returned to Asia, he has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in the country of Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="row team-abt">-->
<!--	<div class="col-md-3 col-lg-4 m-auto">-->
<!--		<div class="team-inner-wrap">-->
<!--			<div class="team-img">-->
<!--				<img src="images/team5.jpg" alt="Chairman">-->
<!--				<div class="normal-text">-->
<!--					<h3 class="team-name">-->
<!--						<a>SANDIP AHIRRAO</a>-->
<!--					</h3>-->
<!--					<span class="team-title">Head Marketing</span>-->
<!--				</div>-->
<!--			</div>-->


<!--		</div>-->
<!--	</div>-->
<!--	<div class="col col-md-9 col-lg-8 m-auto">-->
<!--		<p>Mr. Sandip Ahirrao, is a seasoned aqua professional (B.F.Sc, M.Sc – Mariculture), with rich and varied experience of more than 28 years, out of which the initial 10 years were spent in the shrimp farming sector working for Unilever group and other reputed companies. Next 18 years he has been into sales & marketing of Aquavet products for various bluechip Indian companies as well as MNCs like Wockhardt (now, Biostadt India Ltd., Mumbai), Novozymes Biologicals Inc., USA, Lallemand Inc., Canada etc., He has had exposure to the Aquaculture sector in South East Asian countries including a 4 year stint in Indonesia. Mr. Sandip is known for his deep knowledge of aquaculture, long experience in sales & marketing and for his skills in building a vast professional network throughout the globe. He is a linguist of sort-proficient in 9 Indian languages. He happens to be the founder Secretary of the Society of Aquaculture Professionals (SAP) and is presently holding the post of Executive Committee Member.</p>-->
<!--	</div>-->
<!--</div>-->

<div class="row team-abt">
        <div class="container mt-4">

            <div class="col-lg rt-abt-pag">
                <h2>MANAGEMENT TEAM</h2>
                <img class="mb-2 " src="{%static 'images/border.png' %}" alt="">
            </div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <div class="btn-link" type="text" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Late Dr. M.S. RANGA CHARY (FOUNDER CHAIRMAN)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team1.png' %}" alt="Chairman">
                                <!--
                                <div class="normal-text">
                                    <h3 class="team-name">
                                        <a>Dr. M.S. RANGA CHARY</a>
                                    </h3>
                                    <span class="team-title">Founder Chairman</span>
                                </div>
-->
                            </div>


                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>Late Dr. M.S. RANGA CHARY (FOUNDER CHAIRMAN)</b></h3>
                        <p>The chairman of the company is holds a Doctorate in Pharmacy from Frankfurt University, Germany. His qualification continues to astonish us as he holds a Post Graduate in Pharmaceutical Sciences from Banaras Hindu University (BHU) with PG diplomas in Biochemistry and Microbiology. His 20 years of industrial experience in R & D, manufacturing and marketing areas in Multinational Pharma Companies in India and abroad makes him an indomitable spirit of inspiration to look at. His formulations manufacturing consultancy, started in 1978, has added many formulations to his credit. As one of the pioneers in the formulation of poultry and aqua health care products, he started the Growel foundations in 1992. With more than 50 years of post-qualification experience, he remains to be a guiding factor for the group and actively takes part in the operations.</p>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         M.V.N. SESHA CHARY (EXECUTIVE DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>M.V.N. SESHA CHARY (EXECUTIVE DIRECTOR)</b></h3>
                        <p>A Science Graduate and a qualified Chartered Accountant, he has 26 years of post- qualification experience. He has been practicing CA for 15 years and is the Executive Director of Growel for the past 11 years now. He takes care of the Commercial &amp; Financial aspects of the Company.</p>
                    </div>
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          P.S. NARENDRA (EXECUTIVE DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>P.S. NARENDRA (EXECUTIVE DIRECTOR)</b></h3>
                        <p>He is a Mechanical Engineer by qualification. He is closely associated with Growel Feeds. He takes care of the production and marketing activities of the company. He has an incredible experience of 25 years in the aqua industry. It is factual that he is one of the pillars that Growel Feeds rests upon.</p>
                    </div>
                </div>
            </div> </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfour">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
         Dr. A. VICTOR SURESH (TECHNICAL DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>Dr. A. VICTOR SURESH (TECHNICAL DIRECTOR)</b></h3>
                        <p>An Aquaculture Nutritionist, Dr.Suresh received his BFSc in India, his Masters in Thailand and Ph.D. in the United States of America. He started his career as the Global Director for Aquaculture in Ralston Purina, a company and a market leader in shrimp feed business, that pioneered in shrimp farming and shrimp feeds. In 2001 he returned to Asian region and since then has been providing technical services to aquaculture nutrition companies, globally. In 2007, he returned to shrimp nutrition research by undertaking the establishment and operation of a shrimp nutrition research facility for tiger shrimp in Brunei Darussalam and for vannamei shrimp in Hawaii. He has been associated with Growel Feeds from the start in 2009 by taking care of its feed formulation technology and R&amp;D. He lives in Singapore with his family and visits India on a monthly basis to work on the technical matters.</p>
                    </div>
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team4.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfive">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
         Ch. SUDHEER (DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
      <div class="card-body">
       <div class="list-manage-ment">
                <h3><b>Ch. SUDHEER (DIRECTOR)</b></h3>
                <p>He graduated in Commerce and is one of the pioneering investors in the aqua culture industry. He also has business interests in automobile distribution and real estate. He is one of the entrepreneurs who have stood behind Growel Feeds and helped it grow.</p>
            </div>
            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingsix">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
        R. SATISH (DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
      <div class="card-body">
         <div class="list-manage-ment">
                <h3><b>R. SATISH (DIRECTOR)</b></h3>
                <p>He is an Engineering Graduate by qualification. He is a successful entrepreneur who runs a large automobile distribution chain. Satish has investments in the aqua farming industry. This vibrant business man is one of the behind Growel’s exemplary growth. He is a man Growel Feeds is proud to be associated with.</p>
            </div>
          </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingseven">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
       P. SRINIVAS (DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
      <div class="card-body">
        <div class="list-manage-ment">
                <h3><b>P. SRINIVAS (DIRECTOR)</b></h3>
                <p>He holds a Post Graduate Degree in Business Administration (MBA). He runs a large aqua feed distribution company. He has involved himself in large fish farming business owned by his family. Growel is proud to have a dynamic directors like him, who have dedicated their ardent efforts for bringing a revolution in aqua feed production.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingeight">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
         P. JANARDHAN (DIRECTOR)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
      <div class="card-body">
       <div class="list-manage-ment">
                <h3><b>P. JANARDHAN (DIRECTOR)</b></h3>
                <p>He is a Post Graduate in Commerce (M.Phil) and a qualified Chartered Accountant. He is also a Certified Information Systems Auditor (ISACA, USA) and Information Systems Security Certification Lead Auditor (ISO 27001 LA). He has been in practice since 1987 and is a member of many professional and academic bodies. He is also a consultant to many organizations for systems &amp; information audits. His clients include many leading aqua farmers and suppliers to aqua culture industry.</p>
            </div>
              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingnine">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
        SANDIP AHIRRAO (VICE PRESIDENT – SALES &amp; MARKETING)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample">
      <div class="card-body">
      <div class="list-manage-ment">
                <div class="row team-abt">
                    <div class="col-md-3 col-lg-4 m-auto chairman">
                        <div class="team-inner-wrap">
                            <div class="team-img">
                                <img src="{%static 'images/team5.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-9 col-lg-8 m-auto">
                        <h3><b>SANDIP AHIRRAO (VICE PRESIDENT – SALES &amp; MARKETING)</b></h3>
                        <p>Mr. Sandip Ahirrao, is a seasoned aqua professional (B.F.Sc, M.Sc – Mariculture), with rich and varied experience of more than 28 years, out of which the initial 10 years were spent in the shrimp farming sector working for Unilever group and other reputed companies. Next 18 years he has been into sales &amp; marketing of Aquavet products for various bluechip Indian companies as well as MNCs like Wockhardt (now, Biostadt India Ltd., Mumbai), Novozymes Biologicals Inc., USA, Lallemand Inc., Canada etc., He has had exposure to the Aquaculture sector in South East Asian countries including a 4 year stint in Indonesia.</p>
                        <p>Mr. Sandip is known for his deep knowledge of aquaculture, long experience in sales &amp; marketing and for his skills in building a vast professional network throughout the globe. He is a linguist of sort-proficient in 9 Indian languages. He happens to be the founder Secretary of the Society of Aquaculture Professionals (SAP) and is presently holding the post of Executive Committee Member.</p>
                    </div>
                </div>
            </div>
              </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading10">
      <h2 class="mb-0">
        <div class="btn-link collapsed" type="text" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapsenine">
        P. V. Hariharan (VICE PRESIDENT – QUALITY ASSURANCE)<span class="plus-order"><i class="fa fa-plus"></i></span>
        </div>
      </h2>
    </div>
    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
      <div class="card-body">
      <div class="row">
                <div class="list-manage-ment col-sm text-center">
                    <img src="{%static 'images/team6.png' %}" alt="">
                    <h3 class="mt-1"><b>P. V. Hariharan (VICE PRESIDENT – QUALITY ASSURANCE)</b></h3>
                </div>
                <div class="list-manage-ment col-sm text-center">
                    <img src="{%static 'images/team7.png' %}" alt="">
                    <h3 class="mt-1"><b>G.V.V. Satyanarayana (VICE PRESIDENT – OPERATIONS)</b></h3>
                </div>
            </div>
              </div>
    </div>
  </div>




</div>
</div>
</div>
</div>


 
{% include 'growel-feeds/footer.html' %}