<!DOCTYPE html>
<html lang="en">
{% load static %} 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Growel Feeds</title>
	<link rel="icon" href="{%static 'images/favicon.png' %}">
	<link rel="stylesheet" href="{%static 'css/fontello/css/fontello.css' %}">

	
	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/animate.css' %}">
	<link rel="stylesheet" href="{%static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{%static 'css/magic.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/lightbox.css' %}">
	<link rel="stylesheet" href="{%static 'css/light-box.css' %}">
   
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
     <link rel="stylesheet" href="{%static 'css/style1.css' %}">
	<link rel="stylesheet" href="{%static 'css/query.css' %}">

    
</head>

<body>
