{% include 'growel-feeds/header.html' %}

{% load static %} 
<div class="about-banner">
    {% include "growel-feeds/menu-bar.html" %}
    <img class="banner-img" src="{%static 'images/about.jpg' %}" alt="">
    <div class="banner-cont">
        <h1>MANAGEMENT TEAM</h1>
    </div>
</div>
<div class="row team-abt">
    <div class="cust-container mt-4">
        <div class="list-manage-ment">
            <h3><b>Late Dr. M.S. RANGA CHARY (FOUNDER CHAIRMAN)</b></h3>
            <p>Dr. Ranga Chary was the founder chairman of the company and he held a Doctorate in
                Pharmacy from Frankfurt University, Germany. He did his Post Graduation in
                Pharmaceutical Sciences from Banaras Hindu University (BHU) and also had PG diplomas
                in Biochemistry and Microbiology. He remains to be a great inspiration to Growel team
                because of his knowledge and decades of experience in R&amp;D, manufacturing and
                marketing areas of multinational pharma companies. His consulting practice that started
                in 1978, has added many formulations to his credit. As one of the pioneers in the
                formulation of poultry and aqua health care products, he laid the Growel foundations in
                1992. With more than 50 years of post-qualification experience, he will always be
                remembered as a guiding factor for the group.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>M.V.N. SESHA CHARY (EXECUTIVE DIRECTOR)</b></h3>
            <p>A Science Graduate and a qualified Chartered Accountant, he has 26 years of post-
                qualification experience. He has been practicing CA for 15 years and is the Executive
                Director of Growel for the past 11 years now. He takes care of the Commercial &amp;
                Financial aspects of the Company.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>P.S. NARENDRA (EXECUTIVE DIRECTOR)</b></h3>
            <p>He is a Mechanical Engineer by qualification. He is closely associated with Growel Feeds.
                He takes care of the production and marketing activities of the company. He has an
                incredible experience of 25 years in the aqua industry. It is factual that he is one of the
                pillars that Growel Feeds rests upon.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>Dr. A. VICTOR SURESH (TECHNICAL DIRECTOR)</b></h3>
            <p>An Aquaculture Nutritionist, Dr.Suresh received his BFSc in India, his Masters in Thailand
                and Ph.D. in the United States of America. He started his career as the Global Director
                for Aquaculture in Ralston Purina, a company and a market leader in shrimp feed
                business, that pioneered in shrimp farming and shrimp feeds. In 2001 he returned to
                Asian region and since then has been providing technical services to aquaculture
                nutrition companies, globally. In 2007, he returned to shrimp nutrition research by
                undertaking the establishment and operation of a shrimp nutrition research facility for
                tiger shrimp in Brunei Darussalam and for vannamei shrimp in Hawaii. He has been
                associated with Growel Feeds from the start in 2009 by taking care of its feed
                formulation technology and R&amp;D. He lives in Singapore with his family and visits India on
                a monthly basis to work on the technical matters.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>Ch. SUDHEER (DIRECTOR)</b></h3>
            <p>He graduated in Commerce and is one of the pioneering investors in the aqua culture
                industry. He also has business interests in automobile distribution and real estate. He is one of the entrepreneurs who have stood behind Growel Feeds and helped it grow.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>R. SATISH (DIRECTOR)</b></h3>
            <p>He is an Engineering Graduate by qualification. He is a successful entrepreneur who runs a large automobile distribution chain. Satish has investments in the aqua farming industry. This vibrant business man is one of the behind Growel’s exemplary growth. He is a man Growel Feeds is proud to be associated with.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>P. SRINIVAS (DIRECTOR)</b></h3>
            <p>He holds a Post Graduate Degree in Business Administration (MBA). He runs a large aqua feed distribution company. He has involved himself in large fish farming business
                owned by his family. Growel is proud to have a dynamic directors like him, who have
                dedicated their ardent efforts for bringing a revolution in aqua feed production.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>P. JANARDHAN (DIRECTOR)</b></h3>
            <p>He is a Post Graduate in Commerce (M.Phil) and a qualified Chartered Accountant. He is
                also a Certified Information Systems Auditor (ISACA, USA) and Information Systems
                Security Certification Lead Auditor (ISO 27001 LA). He has been in practice since 1987
                and is a member of many professional and academic bodies. He is also a consultant to
                many organizations for systems &amp; information audits. His clients include many leading
                aqua farmers and suppliers to aqua culture industry.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>SANDIP AHIRRAO (VICE PRESIDENT – SALES &amp; MARKETING)</b></h3>
            <p>Mr. Sandip Ahirrao, is a seasoned aqua professional (B.F.Sc, M.Sc – Mariculture), with
                rich and varied experience of more than 28 years, out of which the initial 10 years were
                spent in the shrimp farming sector working for Unilever group and other reputed
                companies. Next 18 years he has been into sales &amp; marketing of Aquavet products for
                various bluechip Indian companies as well as MNCs like Wockhardt (now, Biostadt India
                Ltd., Mumbai), Novozymes Biologicals Inc., USA, Lallemand Inc., Canada etc., He has
                had exposure to the Aquaculture sector in South East Asian countries including a 4 year
                stint in Indonesia.</p>
            <p>Mr. Sandip is known for his deep knowledge of aquaculture, long experience in sales &amp;
                marketing and for his skills in building a vast professional network throughout the globe.
                He is a linguist of sort-proficient in 9 Indian languages. He happens to be the founder
                Secretary of the Society of Aquaculture Professionals (SAP) and is presently holding the
                post of Executive Committee Member.</p>
        </div>
        <div class="list-manage-ment">
            <h3><b>P. V. Hariharan (VICE PRESIDENT – QUALITY ASSURANCE)</b></h3>
        </div>
        <div class="list-manage-ment">
            <h3><b>G.V.V. Satyanarayana (VICE PRESIDENT – OPERATIONS)</b></h3>
        </div>
    </div>
</div>

{% include 'growel-feeds/footer.html' %}
