{% include 'growel-feeds/header.html' %}

{% load static %} 
<div class="about-banner">
	{% include "growel-feeds/menu-bar.html" %}
	<img  class="banner-img" src="{%static 'images/about.jpg' %}" alt="">
	<div class="banner-cont">
		<h1>Media</h1>
	</div>
</div>


<div class="innovation">
	<div class="container">
		<div class="technology">
			<div class="media-inner">
				<h5>Media</h5>
				<p>Growel Feeds Mega Farmers Meeting in Different Places 2015</p>
			</div>
		</div>
	</div>





<div class="container">

	<section class="section-intro">
		<div class="container">
			<div class="photo-slider-wrap">
				<div class="photo-slider">
					<div class="back-img active" style="background-image: url({%static 'images/hs_err_pid689.jpg' %})">
						<div class="caption">
							Lorem ipsum 1
						</div>
					</div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-534327.jpg' %})">
						<div class="caption">
							Lorem ipsum 2
						</div>
					</div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-534351.jpg' %})">
						<div class="caption">
							Lorem ipsum 3
						</div>
					</div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-539711.jpg' %})">
						<div class="caption">
							Lorem ipsum 4
						</div>
					</div>
					<div class="back-img" style="background-image: url({%static 'images/mountains-1645078_1280.jpg' %})">
						<div class="caption">
							Lorem ipsum 5
						</div>
					</div>
				</div>

				<div class="slider-arrow slide-next" id="slide-next">
					<i class="icon icon-right-open-big"></i>
				</div>
				<div class="slider-arrow slide-prev" id="slide-prev">
					<i class="icon icon-left-open-big"></i>
				</div>
			</div>

			<div class="photo-slider-thumb">
				<div>
					<div class="back-img" style="background-image: url({%static 'images/hs_err_pid689.jpg' %})">
						<div class="caption">
							Lorem 1
						</div>
					</div>
				</div>
				<div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-534327.jpg' %})">
						<div class="caption">
							Lorem 2
						</div>
					</div>
				</div>
				<div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-534351.jpg' %} )">
						<div class="caption">
							Lorem 3
						</div>
					</div>
				</div>
				<div>
					<div class="back-img" style="background-image: url({%static 'images/pexels-photo-539711.jpg' %})">
						<div class="caption">
							Lorem 4
						</div>
					</div>
				</div>
				<div>
					<div class="back-img" style="background-image: url({%static 'images/mountains-1645078_1280.jpg' %})">
						<div class="caption">
							Lorem 5
						</div>
					</div>
				</div>
			</div>
<button class="btn"><a href="media">Back</a></button>
		</div>
		
		
	</section>
</div>
</div>
{% include 'growel-feeds/footer.html' %}
