{% include 'growel-feeds/header.html' %}

{% load static %} 
<div class="about-banner">
   {% include "growel-feeds/menu-bar.html" %}
    <img class="banner-img" src="{%static 'images/news-event.jpg' %}" alt="">
</div>

<!--
<div class="innovation tech-bg-fish">
    <div class="container">
        <div class="technology">
            <div class="media-inner">
                <h5>Media</h5>
                <p>Growel Feeds has been radiantly attractive enough to make news every day!</p>
            </div>
        </div>
        {%for news in news%}
        <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="port-gall">
                
                <a href="{{MEDIA_URL}}{{news.image_file}}" data-lightbox="photo">
                    <img class="img-fst" src="{{MEDIA_URL}}{{news.image_file}}" alt="bridal-makeup-artist-in-chennai">
                </a>
                
            </div>
        </div>
        {%endfor%}

        </div>


    </div>
</div>
-->


<div class="innovation tech-bg-fish">
    <div class="container">
        <div class="technology">
            <div class="media-inner">
                <h5>Media</h5>
               <!--  <p>Growel Feeds has been radiantly attractive enough to make news every day!</p> -->
            </div>
        </div>
        <div class="row">
            {%for news in news %}
            <div class="col-md-6 col-lg-4">
                
                <div class="port-gall">
                      <!-- data-lightbox="photo" -->
                    <a class="pop-lig-bx" href="{{ MEDIA_URL }}{{ news.image_file }}" download>
                       <embed class="img-fst" src="{{ MEDIA_URL }}{{ news.image_file }}" type="application/pdf">
                        <p class="normal-text">{{news.title}}</p>
                        <div class="over-lay">
                            <p class="">{{news.title}}</p>

                        </div>
                        
                    </a>
                </div>
              
            </div>
            {%endfor%}

        </div>
    </div>
</div>



{% include 'growel-feeds/footer.html' %}