{% include 'growel-feeds/header.html' %}

{% include "growel-feeds/menu-bar.html" %}
{% load static %}

 
<div class="about-banner">
    <img class="banner-img" src="{%static 'images/research-and-development-banner.jpg' %}" alt="">
<!--
    <div class="banner-cont">
        <h1>R & D</h1>
    </div>
-->
</div>
<div class="innovation product-bg pro-quality grad-back">
    <div class="container">
        <div class="technology mt-4">
            <div class="tech-inner">
                <h5>Research and Development</h5>
            </div>
            <div class="content">
                <P>Growel has an in-house R&amp;D innovation centre where it continuously tests the
                    performance of its feed products. Before launching a new feed product, it is thoroughly
                    tested on live animals in the R&amp;D Bio-assay.</P>
                <P>This R&amp;D facility also has cages and ponds to perform trials in the actual rearing
                    environment. A dedicated R&amp;D team work conducts several trials under the supervision
                    of highly qualified nutritionists. Growel innovates new products time to time by
                    identifying the emerging customer needs.</P>
                <P>The primary focus is on international quality standards. R&amp;D activities help a lot in
                    achieving the best results.</P>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res9.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res5.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res3.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res4.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res8.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res6.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res7.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/res1.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="content">
                <h5>We achieve quality through</h5>
                <ul>
                    <li>
                        State of Art Technology
                    </li>
                    <li>High Quality of Raw Materials.</li>
                    <li>Compliance with all statutory and regulatory requirements.</li>
                    <li>Continual improvement by providing resources to achieve our quality objectives through audits and management review meetings.</li>
                </ul>
            </div>
-->
        </div>
    </div>
</div>




{% include 'growel-feeds/footer.html' %}
 