{% include 'growel-feeds/header.html' %}

{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
<div class="about-banner">
	<img  class="banner-img" src="{%static 'images/technology-header-banner.jpg' %}" alt="">
<!--
	<div class="banner-cont">
		<h1>Technology</h1>
	</div>
-->
</div>


<div class="innovation tech-bg-fish">

	<div class="container">
		<div class="technology">
			<div class="tech-inner">
				<h5>Technology</h5>
			</div>
			<div class="jR3DCarouselGallery"> </div>
			<div class="tech-bottom">
				<div class="row">
				    <ul>
				        <li>At Growel, sound practices are followed to ensure high product quality. This keeps fetching top notch results. Growel Feeds uses a state-of-the-art fully automated process that is completely controlled by a computer based system.</li>
				        <li>Growel’s uncompromising nature and application of advanced technology have led to reliable product quality, resulting in a large pool of happy customers.</li>
				        <li>As one of the pioneering Indian companies to have invested in large extruded feed manufacturing unit, Growel Feeds has also invested in the latest twin screw extrusion technology to produce high quality aqua feeds.</li>
				        <li>After ensuring high quality, the feeds are packed into bags in perfect measures and safely transported to customers.</li>
				        <li>Growel Feeds has the technology and capacity to produce pelleted aqua feeds, extruded sinking feeds, extruded floating and slow sinking feeds in large quantities.</li>
				        <li>The best quality processes at Growel have resulted in world class quality of shrimp feed and extruded floating fish feeds.</li>
				        <li>The feed formulae are thoroughly tested before bringing into market. Growel’s research keeps adding up technological advancements.</li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'growel-feeds/footer.html' %}
 
