

/* Controls
---------------------------------------------------------------------- */
.controls{
    text-align: center;
    padding: 20px 0;
}

.controls button:focus{
    outline: none;   
}
 .btn-cust button{
    padding: 10px 30px;
     border: 1px dashed #002e5b;
     margin-bottom: 5px;
}
.control {
    position: relative;
    display: inline-block;   
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    color: #222;
    transition: background 150ms;
    transition: all 1s ease;
}

.control:hover {
    background:#002e5b;
    color: #fff;
    transition: all 1s ease;
}
.gallery-round img{
   width: 100%;
}

/*
.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}
*/

.mixitup-control-active {
    background:#002e5b;
    color: #fff;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
    
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}




/* Container
---------------------------------------------------------------------- */




/* Grid Items
---------------------------------------------------------------------- */

.item,
.gap {
    display: inline-block;
    vertical-align: top;
}

.gallery-round{

    margin: 0 auto;
    text-align: center;
    display: block;

}

.gallery-round .item {
    background: #fff;
    
    border-radius: 2px;
  
    position: relative;
}

/*
.gallery-round .item:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}
*/

.gallery-round .item.green {
    color: #91e6c7;
}

.gallery-round .item.pink {
    color: #d595aa;
}

.gallery-round .item.blue {
    color: #5ecdde;
}
.gallery-round .item.yellow {
    color: #ffc107;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.gallery-round .item,
.gap {
    width: calc(100%/1 - (((2 - 1) * 1rem) / 1));
        padding: 0;
    margin: 5px 3px;
}


@media screen and (min-width: 576px) {
   .gallery-round .item,
    .gap {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
            padding: 0;
    margin: 6px 3px;
    }
}


@media screen and (min-width: 767px) {
   .gallery-round .item,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
            padding: 0;
    margin: 6px 3px;
    }
}



@media screen and (min-width: 991px) {
   .gallery-round .item,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4)); 
        padding: 0;
    margin: 6px 3px;
    }
}


