@media (max-width: 575px) {
    .team-item .team-inner-wrap .team-content .display-table .display-table-cell p a {
        font-size: 11px;
    }

    .about-banner .banner-img {
        margin-top: 51px;
    }

    .about-banner .banner-cont {
        top: -1px;
    }

    .about-banner .banner-cont h1 {
        margin-top: 80px !important;
    }

    .tl-banner .banner-text p {
        width: 220px !important;
        font-size: 15px !important;
    }


    .tl-nav-bar {
        height: auto;
    }

    .product-service .fst-feed .border-fst-feed img {
        width: 133px;
    }

    .manufac-quality a {
        font-size: 15px;
    }

    .title h2 {
        font-size: 15px;
    }

    .product-service .fst-feed .border-fst-feed h4 {
        font-size: 16px;
    }

    .product-service .fst-feed .border-fst-feed a {
        font-size: 15px;
        padding: 6px 16px;
        margin: 10px 0 22px;
    }

    .manufac-quality .title1 h2 {
        font-size: 13px !important;
    }

    .ind-blog h3 {
        font-size: 14px !important;
    }

    .ind-blog .blg-rit p {
        font-size: 12px !important;
    }

    .ind-blog .blg-rit a {
        font-size: 15px;
    }

    .cont-enq .feeds-outer h1.feeds {
        font-size: 17px;
        padding: 12px;
        width: 141px;
        margin-bottom: 40px;
    }

    .cont-enq .feeds-outer:before {
        top: 47px;
        left: 92px;
    }

    .cont-enq .feeds-outer {
        margin-top: 40px;
    }

    .max-width530 {
        width: 100% !important;
    }

    .ind-blog .nex-blog ul .nav-link1 {
        padding: 22px 20px !important;
    }

    .ind-blog .nex-blog ul .nav-item {
        width: 25%;
    }

    .innovation {
        background-image: none;
        padding: 41px 0;
    }

    .product-feed .feeds-outer h1.feeds {
        font-size: 12px !important;
        padding: 12px;
        margin-left: 15px;
        width: 136px !important;
    }

    .product-feed .feeds-outer:before {
        top: 40px !important;
        left: 121px !important;
    }

    .innovation .cus-container .inner-container {
        margin-top: 32px !important;
    }

    .product-feed .feeds-outer {
        margin-top: 23px !important;
    }

    .tech-bottom ul li {
        font-size: 13px;
        color: #4c4a4abf;
        line-height: 27px;
        padding-left: 29px;
        position: relative;
    }

    .product-feed .feeds-outer h1.feeds {
        font-size: 12px;
        padding: 12px;
        margin-left: 15px;
        width: 161px;
    }

    .innovation .cus-container .inner-container {
        margin-top: 49px !important;
    }

    .innovation .cus-container .inner-container .content-left .content h5 {
        font-size: 24px !important;
        margin-top: 20px !important;
    }

    .tl-frt .cont-info .ftr-add1 a {
        font-size: 12px;
    }

    .tl-frt .cont-info .ftr-add a {
        font-size: 13px;
    }

    .tl-frt .ftr-add {
        font-size: 12px;
    }

    .tl-frt .link-ftr li a {
        font-size: 13px;
    }

    .tl-frt .link-ftr li {
        padding: 4px 0;
        font-size: 13px;
    }

    .tl-frt h4 {
        font-size: 13px;
    }

    .ftr-ftr .menu-ftr li a {
        font-size: 14px;
    }

    .ftr-ftr .menu-ftr li {
        padding: 0px 3px !important;
    }

    .technology .tech-inner h5 {
        font-size: 19px !important;
        margin-bottom: 30px;
    }

    .technology {
        margin-top: 0 !important;
    }

    .landing-back {
        width: 150px !important;
    }

    .landing-back a {
        width: 120px !important;
        height: 120px !important;
    }

    .float-chat-abt img {
        width: 320px !important;
    }

    .tl-banner .carousel-caption {
        right: 0%;
        left: 0;
        bottom: 10%;
    }footer .footer-inner .ftr-certificate img {
    width: 90px;
}
}

@media (max-width: 767px) {
    .float-chat-abt img {
        width: 565px;
    }

    #map_wrapper {
        margin-bottom: 30px;
    }

    .mapw1 {
        margin-bottom: 20px;
    }

    .landing-back a {
        font-size: 16px;
    }

    .landing-back {
        width: 190px;
    }

    .landing-back a {
        width: 160px;
        height: 160px;
    }

    .product-feed .feeds-outer {
        margin-top: 35px;
    }

    .landing-page {
        padding: 0;
    }

    .landing-back {
        margin: 30% auto 0;
    }

    .innovation {
        background: none;
        padding: 12px 0;
    }

    .our-management .team-abt p {
        padding: 20px 0px 0;
    }

    .product-feed .feeds-outer {
        margin-top: 48px;
    }

    .cont-enq {
        padding: 30px 0 30px 0;
    }

    .about-banner .banner-cont h1 {
        margin: 20% auto;
    }

    .section-intro .photo-slider-thumb > div > div {
        height: 93px;
    }

    .section-intro .photo-slider-thumb .caption {
        font-size: 11px;
    }

    .section-intro button {
        margin-bottom: 34px !important;
        margin-top: 0px;
    }

    .media-inner p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    .jR3DCarouselGallery {
        width: 304px !important;
        height: 298.772px !important;
    }

    .media-inner h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .bann-abt .rt-abt-pag h3 {
        font-size: 20px;
    }

    .title1 h2 {
        font-size: 20px;
    }

    .banner-img {
        margin-top: 82px;
    }

    .ind-blog .nex-blog ul .nav-item .nav-link img {
        width: 90px;
        height: 90px;
    }

    .section-intro .photo-slider-thumb > div {
        width: 25%;
    }

    .pro-quality {
        padding: 20px 0px !important;
    }

    .section-intro .photo-slider .caption {
        font-size: 13px;
    }

    .section-intro .photo-slider {
        height: 309px;
    }

    .technology .tech-inner h5 {
        font-size: 28px;
    }

    .pro-quality .technology .services-wrap .services-desc {
        padding: 20px 23px;
    }

    .pro-quality .technology .services-wrap .services-desc .services-title {
        font-size: 15px !important;
    }

    .innovation .cus-container .inner-container {
        margin-top: 20px !important;
    }

    .tl-frt .ftr-box {
        text-align: left !important;
    }

    .tl-nav-bar .navbar-nav .navbar-toggler {
        background: #002e5b !important;
        padding: 0;
        z-index: 111;
    }

    .non-up {
        display: block;
    }

    .non-down {
        display: none;
    }

    .tl-nav-bar .nav-min-menu {
        position: absolute;
        top: 65px;
        right: -10px;
    }

    .tl-nav-bar .navbar-nav {
        width: 210px;
        display: inline-flex;
        text-align: center;
        background: #002e5b;
    }

    .tl-banner .banner-text p {
        width: 270px;
        font-size: 22px;
    }

    .tl-banner .banner-text {
        margin: 10px auto;
    }

    .tl-banner .banner-text h2 {
        font-size: 31px;
        margin-bottom: 7px;
    }

    .tl-banner .bann-back {
        height: 340px;
    }

    .dropdown-menu {
        background-color: #002e5b;
    }

    .tl-nav-bar ul .nav-item a::before {
        display: none;
    }

    .tl-nav-bar ul .active a::after {
        width: 100%;
        height: 5px;
    }

    .navbar-toggler-icon {
        display: inherit !important;
        vertical-align: inherit !important;
        width: auto !important;
        height: auto !important;
    }

    .navbar {
        padding: 0;
    }

    .navbar-toggler-icon i {
        color: #fff;
    }

    .logo-border {
        display: none;
    }

    .top-nav .navbar-brand img {
        margin-top: 0;
        width: 140px;
        margin-left: 0;
    }

    .abt-p-img-btm p {
        padding: 0 15px;
    }

    .bann-img img {
        margin: 20px auto 0;
        width: 390px;
    }

    .bann-abt .left-img-abt img {
        width: 330px;
    }

    .title1 .prn-btm {
        position: absolute;
        top: 0;
        left: 32%;
    }

    .manufac-quality .title1 h2 {
        margin-top: 20px;
        font-size: 18px;
    }

    .sub-inpt1 {
        display: block !important;
    }

    .sub-inpt {
        display: none;
    }

    .req-back input {
        margin-bottom: 15px;
    }

    .ind-blog .blg-rit {
        margin-bottom: 10px;
    }

    .ind-blog .blg-rit .blog-right {
        padding: 20px 20px 10px 20px;
    }

    .ind-blog .nex-blog ul .nav-link1 {
        padding: 34px 10px;
    }

    .ind-blog .nex-blog ul {
        width: auto;
    }

    .ind-blog .nex-blog {
        position: inherit;
        left: 0;
    }

    .tl-frt .ftr-add {
        margin-top: 0px !important;
    }

    .tl-frt .ftr-box {
        margin-top: 15px;
    }

    .ftr-ftr .menu-ftr li {
        padding: 4px 4px;
    }

    /*about*/
    .about-banner .banner-cont h1 {
        font-size: 22px;
    }

    .bann-abt .rt-abt-pag {
        text-align: center;
        margin: 20px auto;
    }

    /*about*/
    /*product*/
    .product-feed .feeds-outer h1.feeds {
        font-size: 15px;
        padding: 12px;
        margin-left: 15px;
        width: 183px;
    }

    .product-feed .feeds-outer:before {
        top: 44px;
        left: 164px;
    }

    .innovation .cus-container .inner-container .content-left .content h5 {
        font-size: 28px;
        margin-top: 20px;
    }

    .tab-cus .top-tab ul {
        background: none;
    }

    .tab-cus .top-tab ul .nav-item {
        background: none;
    }

    .tab-cus #tabs li a,
    .tab-cus #tabs2 li a,
    .tab-cus #tabs3 li a,
    .tab-cus #tabs4 li a,
    .tab-cus #tabs5 li a {
        background: #002959;
        margin: 3px;
        padding: 8px 16px 6px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        border: none;
        font-family: "f1";
    }

    .tl-banner .carousel-caption,
    .carousel-caption1,
    .carousel-caption2,
    .carousel-caption3 {
        display: none;
    }

    /*product*/
}

@media (min-width: 768px) and (max-width: 991px) {

    .tl-banner .banner-text p {
        font-size: 20px;
    }

    .tl-banner .banner-text1 p {
        font-size: 20px;
    }

    .tl-banner .banner-text2 p {
        font-size: 20px;
    }

    .tl-banner .banner-text3 p {
        font-size: 20px;
    }

    .tl-banner .carousel-caption {
        bottom: 36px;
    }

    .chairman {
        padding-left: 0px !important;
        width: 100% !important;
        padding-right: 0px !important;
    }

    .float-chat-abt img {
        width: 768px;
    }

    .our-management .team-abt .team-inner-wrap .team-img .normal-text {
        position: static;
        width: 100%;
    }

    .our-management .team-abt .team-inner-wrap .team-img .normal-text h3 a {
        font-size: 11px;
    }

    .about-banner .banner-cont h1 {
        margin: 20% auto;
    }

    .banner-img {
        margin-top: 129px;
    }

    .tl-frt .ftr-box .social-ftr li a {
        width: 23px;
        font-size: 16px;
        height: 23px;
    }

    .cust-container {
        width: 97%;
    }

    .title1 .prn-btm {
        position: absolute;
        top: 0;
        left: 32%;
    }

    .manufac-quality .title1 h2 {
        margin-top: 20px;
        font-size: 18px;
    }

    .manufac-quality p span {
        display: none;
    }

    .bann-img img {
        width: 100%;
    }

    .tl-nav-bar {
        height: auto;
    }

    .nav-butn .navbar-brand {
        width: 100%;
        display: inline-block;
    }

    .nav-butn img {
        margin: auto;
        display: block;
    }

    .nav-butn .navbar-brand {
        width: 100%;
    }

    .nav-butn .navbar-brand img {
        margin: auto;
        display: block;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .2rem !important;
        padding-left: .2rem !important;
    }

    .tl-nav-bar ul .nav-item {
        padding: 0 6px;
    }

    .navbar-expand-md {
        flex-flow: column !important;
    }

    .nav-min-menu {
        width: 100%;
        display: inline-grid;
    }

    .nav-min-menu .navbar-nav {
        text-align: center !important;
    }

    .tl-nav-bar ul .nav-item a {
        font-size: 12px;
    }

    .product-service .fst-feed .border-fst-feed img {
        width: 175px;
    }

    .fst-feed {
        width: 100% !important;
    }

    .ind-blog .tab-content {
        margin-bottom: 20px;
    }

    .blog-right span {
        display: none;
    }

    .ind-blog .nex-blog ul {
        width: 85px;
    }

    .ind-blog .nex-blog ul .nav-item a img {
        height: 69px !important;
    }

    .ind-blog .blog-left {
        height: 298px;
        overflow: hidden;
    }

    .ind-blog h3 {
        font-size: 16px;
    }

    .pro-quality .technology .services-wrap .services-icon img {
        height: 182px;
    }

    .pro-quality .technology .content h5 {
        font-size: 23px;
    }

    .bann-abt .rt-abt-pag {
        text-align: center;
        margin: 20px 0;
    }

    .pro-quality .technology .services-wrap .services-desc {
        padding: 10px 1px;
    }

    .pro-quality .technology .services-wrap .services-desc .services-title {
        font-size: 14px !important;
    }

    .innovation {
        background-position: left top, right -257px bottom;
        padding: 65px 0 75px;
    }

    .landing-back {
        width: 255px;
    }

    .landing-page {
        padding: 0;
    }

    .landing-back {
        margin: 24% auto 0;
    }

    .tl-banner .carousel-caption2 {
        bottom: 38px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .tl-banner .banner-text p,
    .tl-banner .banner-text1 p,
    .tl-banner .banner-text2 p {
        font-size: 21px;
    }

    .tl-banner .carousel-caption2 {
        bottom: 50px;
    }

    .innovation {
        padding: 36px 0;
        background: none;
    }

    .tl-frt .cont-info .ftr-add a {
        font-size: 12px;
    }

    .tl-frt .cont-info .ftr-add1 a {
        font-size: 12px;
    }

    .pro-quality .technology .services-wrap .services-desc {
        padding: 21px 23px;
    }

    .pro-quality .technology .services-wrap .services-desc .services-title {
        font-size: 18px !important;
    }

    .ind-blog .tab-content {
        margin-bottom: 20px;
    }

    .blog-right span {
        display: none;
    }

    .ind-blog .nex-blog ul {
        width: 85px;
    }

    .ind-blog .nex-blog ul .nav-item a img {
        height: 69px !important;
    }

    .ind-blog .blog-left {
        height: 298px;
        overflow: hidden;
    }


    .tl-nav-bar {
        height: auto;
    }

    .nav-butn .navbar-brand {
        width: 100%;
        display: inline-block;
    }

    .nav-butn img {
        margin: auto;
        display: block;
    }

    .nav-butn .navbar-brand {
        width: 100%;
    }

    .nav-butn .navbar-brand img {
        margin: auto;
        display: block;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .2rem !important;
        padding-left: .2rem !important;
    }

    .tl-nav-bar ul .nav-item {
        padding: 0 6px;
    }

    .navbar-expand-md {
        flex-flow: column !important;
    }

    .nav-min-menu {
        width: 100%;
        display: inline-grid;
    }

    .nav-min-menu .navbar-nav {
        text-align: center !important;
    }

    .tl-nav-bar ul .nav-item a {
        font-size: 12px;
    }

    .product-service .fst-feed {
        width: 100%;
    }

    .landing-back {
        width: 330px;
    }

    .landing-page {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .innovation .cus-container .inner-container .content-left .content h5 {
        font-size: 24px;
    }

    .ind-blog .tab-content {
        margin-bottom: 20px;
    }

    .ind-blog .blog-left {
        height: 361px;
        overflow: hidden;
    }
}

/*# sourceMappingURL=query.css.map */
